#Creating 14 years 7 months data 701 grids

In [ ]:
import pandas as pd
import numpy as np

##df1 pcp

In [ ]:

# Load the original dataset
df1 = pd.read_csv('/content/pcp_2003_2017.csv')
df1

In [ ]:
import pandas as pd
import re

# Load the CSV file
df1 = pd.read_csv('/content/pcp_2003.csv')

# Define the district name mapping
district_name_mapping = {
    "Ahmadabad": "Ahmedabad",
    "Banas Kantha": "Banaskantha",
    "Bara Banki": "Barabanki",
    "Bathinda": "Bhatinda",
    "Bulandshahr": "Buland Shahar",
    "East Nimar": "Khandwa/East Nimar",
    "Firozpur": "Ferozpur",
    "Hisar": "Hissar",
    "Kachchh": "Kutch",
    "Kanpur Dehat": "Kanpur",
    "Mahendragarh": "Mahendragarh/Narnaul",
    "Mahesana": "Mehsana",
    "Mirzapur": "Mirzpur",
    "Munger": "Mungair",
    "Narsimhapur": "Narsinghpur",
    "Panch Mahals": "Panchmahal",
    "Pashchim Champaran": "Champaran",
    "Purba Champaran": "Champaran",
    "Purnia": "Purnea",
    "Rae Bareli": "Rae-Bareily",
    "Rupnagar": "Roopnagar/Ropar",
    "Sabar Kantha": "Sabarkantha",
    "Saran (chhapra)": "Saran",
    "Seoni": "Seoni/Shivani",
    "The Dangs": "Dangs",
    "West Nimar": "Khargone/West Nimar"
}

# Remove duplicates like 'district.1', 'district.2' and keep only the base name
df1.columns = [re.sub(r'\.\d+$', '', col) for col in df1.columns]

# Rename districts using the mapping
df1.rename(columns=district_name_mapping, inplace=True)

# Save the cleaned file
df1.to_csv('/content/updated_pcp_2003.csv', index=False)

# Display first few rows
print(df1.head())

In [ ]:
import pandas as pd

# Load the original dataset
df1 = pd.read_csv('/content/pcp_2003_2017.csv')

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df1.drop(df1.columns[cols_to_drop], axis=1, inplace=True)

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df1.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df1 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df1.to_csv('/content/new_df1_pcp7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df1)

# Load the filtered dataset
filtered_df1 = pd.read_csv('/content/new_df1_pcp7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df1.shape[0] // 7  # Total years covered
num_columns = filtered_df1.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (pcp1 to pcp7) and correct row count
new_df1 = pd.DataFrame({
    f'pcp{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df1` to `new_df1`
row_index = 0  # To track the current row in `new_df1`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df1.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df1.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df1
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df1.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df1 shape: {new_df1.shape}")  # Should be (49572, 7)
new_df1.fillna(0, inplace=True)
new_df1.to_csv('/content/df1_with_pcp7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df1)

         Agra     Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0    0.000000   0.000000        0.0          0.0          0.0          0.0
1    0.000000   0.000000        0.0          0.0          0.0          0.0
2    6.811496  11.029774        0.0          0.0          0.0          0.0
3   15.880300  14.875946        0.0          0.0          0.0          0.0
4    0.000000   0.000000        0.0          0.0          0.0          0.0
..        ...        ...        ...          ...          ...          ...
93   0.000000   0.000000        0.0          0.0          0.0          0.0
94  17.714224  11.446851        0.0          0.0          0.0          0.0
95   0.000000   0.000000        0.0          0.0          0.0          0.0
96  16.237698  10.063223        0.0          0.0          0.0          0.0
97   2.959255   0.816905        0.0          0.0          0.0          0.0

    Ahmedabad.4  Ahmedabad.5    Aligarh  Aligarh.1  ...    Vidisha  Vidisha.1  \
0           0.0          0.0   0.000000   0.000000  ...   0.790578   0.000000
1           0.0          0.0   0.000000   0.000000  ...   0.000000   0.000000
2           0.0          0.0   4.627377   5.038365  ...   0.000000   3.078434
3           0.0          0.0  16.918813  15.400826  ...  38.506161  28.137842
4           0.0          0.0   0.000000   0.000000  ...   0.000000   0.000000
..          ...          ...        ...        ...  ...        ...        ...
93          0.0          0.0   0.000000   0.000000  ...   0.000000   0.000000
94          0.0          0.0  25.724945  23.150374  ...   0.818221   0.116089
95          0.0          0.0   0.000000   0.825962  ...   8.352022   1.583863
96          0.0          0.0  27.213402  16.476913  ...   0.000000   0.000000
97          0.0          0.0   0.000000   0.000000  ...   0.000000   0.000000

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0    0.578019   0.762490   0.000000   0.000000   0.000000   0.000000
1    0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
2    0.136904   0.212286   0.233800   2.913476   5.951127   7.843926
3   18.972832  18.321872   7.068405  18.631697  27.770353  28.800646
4    0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
..        ...        ...        ...        ...        ...        ...
93   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
94   0.653053   0.622312   0.000000   0.283550   0.322750   0.186368
95   4.195765   6.237752   0.371366   1.715668   1.875209   1.829864
96   0.000000   0.178449   0.000000   0.000000   0.581792   0.639789
97   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000

    Vidisha.8  Vidisha.9
0    0.000000   0.000000
1    0.000000   0.000000
2    0.000000   1.236252
3    4.027134  14.375275
4    0.000000   0.000000
..        ...        ...
93   0.000000   0.000000
94   0.123031   0.884673
95   0.506278   1.771767
96   0.171834   1.493294
97   0.000000   0.000000

[98 rows x 701 columns]
new_df1 shape: (9814, 7)
           pcp1      pcp2       pcp3       pcp4       pcp5       pcp6  \
0      0.000000  0.000000   6.811496  15.880300   0.000000   0.000000
1     11.770949  0.000000   0.000000   4.034699   5.378755  15.466345
2      0.000000  0.000000   1.004056   0.000000   0.000000   9.643133
3      2.544899  0.000000   0.000000   1.252567  63.490313  27.840679
4      0.250133  0.000000   0.000000   3.072465   0.000000   0.000000
...         ...       ...        ...        ...        ...        ...
9809   0.000000  0.000000   0.000000   0.000000  47.844024   8.742019
9810  45.474427  0.000000   4.192894  35.675925  64.200256   7.722482
9811   1.863229  0.000000  39.490202  45.882363   6.845441  51.495013
9812  17.597885  3.633297   0.000000  10.762516   0.596575   6.594429
9813  50.198035  0.000000   0.000000   0.884673   1.771767   1.493294

           pcp7
0     11.283052
1      0.000000
2      0.000000
3      0.000000
4      7.522014
...         ...
9809   0.000000
9810   0.000000
9811  14.828591
9812   0.000000
9813   0.000000

[9814 rows x 7 columns]

In [ ]:
new_df1.isnull().sum()

pcp1    0
pcp2    0
pcp3    0
pcp4    0
pcp5    0
pcp6    0
pcp7    0
dtype: int64

##PET df2

In [ ]:
import pandas as pd

# Load the original dataset
df2 = pd.read_csv('/content/pet_2003_2017.csv')
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df2.drop(df2.columns[cols_to_drop], axis=1, inplace=True)
rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2003
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2003 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df2.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df2 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df2.to_csv('/content/new_df2_PET7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df2)

# Load the filtered dataset
filtered_df2 = pd.read_csv('/content/new_df2_PET7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df2.shape[0] // 7  # Total years covered
num_columns = filtered_df2.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (PET1 to PET7) and correct row count
new_df2 = pd.DataFrame({
    f'PET{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df2` to `new_df2`
row_index = 0  # To track the current row in `new_df2`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df2.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df2.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df2
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df2.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df2 shape: {new_df2.shape}")
new_df2.fillna(0, inplace=True)
new_df2.to_csv('/content/df2_with_PET7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df2)

          Agra      Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   143.683790  144.042880  175.34816   166.610870    163.11502    161.70780
1   107.466965  108.377570  142.10230   132.085170    129.92928    127.51772
2    81.775100   81.672980  137.39640   127.147064    124.59614    123.05793
3    76.248320   75.917534  135.26378   128.488370    127.59593    124.57605
4   111.593475  111.827730  149.89932   140.686370    137.81175    135.59763
..         ...         ...        ...          ...          ...          ...
93   88.465050   90.435760  137.50896   130.801320    129.70882    126.42353
94   87.782990   89.123215  139.74590   129.263380    126.59972    124.75719
95  115.434310  116.558860  158.90904   147.742920    144.32550    142.95042
96  167.841460  170.004460  216.49062   202.209670    196.02972    195.87349
97  226.217160  225.403840  244.66814   231.080410    229.00429    227.14005

    Ahmedabad.4  Ahmedabad.5     Aligarh   Aligarh.1  ...     Vidisha  \
0    162.060400   162.375020  142.242950  142.934510  ...  150.647280
1    128.111430   125.963745  107.475830  108.590160  ...  115.502410
2    123.591560   120.039150   79.166534   79.232960  ...  103.393920
3    127.403366   119.642660   73.496400   73.245990  ...  103.563000
4    136.457210   132.658280  113.730830  114.578964  ...  125.280870
..          ...          ...         ...         ...  ...         ...
93   128.905650   120.114040   91.877340   91.764404  ...  106.281746
94   125.898860   121.743225   88.949850   90.063510  ...  105.865750
95   143.438320   139.529970  116.905690  119.054060  ...  128.493990
96   195.343810   193.242680  173.427150  176.154330  ...  183.823500
97   232.672940   235.939500  231.023680  232.071870  ...  239.795610

     Vidisha.1   Vidisha.2   Vidisha.3  Vidisha.4   Vidisha.5   Vidisha.6  \
0   152.973980  152.294220  151.632930  151.64532  151.171740  151.030490
1   117.373410  117.432900  119.982735  118.80511  117.069440  118.621330
2   102.418760  100.819405  103.558914  103.74432  100.284070   99.918460
3   104.427360  102.893910  103.900630  104.97688  101.985596  101.171730
4   125.148636  125.831610  127.976870  125.48781  124.068190  124.771805
..         ...         ...         ...        ...         ...         ...
93  105.305030  105.175804  106.929110  104.93804  103.097330  103.708340
94  106.014860  105.020550  106.937920  105.43244  103.966125  104.391785
95  127.467415  126.956530  130.127780  126.87089  125.636870  125.426500
96  180.931800  180.423320  186.123110  182.51398  179.972020  179.727040
97  242.065430  237.036180  241.947850  245.46262  243.277530  239.127330

     Vidisha.7   Vidisha.8   Vidisha.9
0   149.468500  151.012130  150.631130
1   119.371704  119.952450  117.938150
2   100.806560  103.455505  100.085050
3   101.127030  103.729690  100.517050
4   125.132870  125.542280  123.687530
..         ...         ...         ...
93  104.673930  104.118996  102.474990
94  105.264404  104.571470  102.679750
95  126.704740  126.300385  124.910126
96  181.361500  182.679000  181.647460
97  239.719620  245.398860  246.753100

[98 rows x 701 columns]
new_df2 shape: (9814, 7)
           PET1        PET2        PET3        PET4        PET5       PET6  \
0     143.68379  107.466965   81.775100   76.248320  111.593475  189.63275
1     127.29191  109.432280   89.233444   84.368675  111.259980  159.72118
2     147.86153  115.363396   90.556300  104.869630  127.425280  162.69302
3     145.00365  106.708120   93.028650   97.626510  100.172990  164.79489
4     157.31240  112.213610   93.589490   91.326670  114.292694  174.78896
...         ...         ...         ...         ...         ...        ...
9809  147.16646  117.603930  102.130230  103.077360  111.996520  172.49663
9810  132.83577  115.153900   98.348320   92.000220  110.572920  163.55373
9811  140.87993  115.830520   98.670880   86.222640  123.080860  158.92955
9812  146.14082  111.582790  103.474140  104.602910  128.823320  177.97670
9813  144.13615  118.714660  102.474990  102.679750  124.910126  181.64746

           PET7
0     225.62880
1     211.70995
2     213.45380
3     224.94585
4     209.63187
...         ...
9809  200.86234
9810  204.08804
9811  205.74013
9812  228.85657
9813  246.75310

[9814 rows x 7 columns]

##Df3 RH

In [ ]:
import pandas as pd

# Load the original dataset
df3 = pd.read_csv('/content/rh_2003_2017.csv')
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df3.drop(df3.columns[cols_to_drop], axis=1, inplace=True)
rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df3.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df3 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df3.to_csv('/content/new_df3_rh7.csv', index=False)
# Display the filtered DataFrame
# Load the filtered dataset
filtered_df3 = pd.read_csv('/content/new_df3_rh7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df3.shape[0] // 7  # Total years covered
num_columns = filtered_df3.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (rh1 to rh7) and correct row count
new_df3 = pd.DataFrame({
    f'rh{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df3` to `new_df3`
row_index = 0  # To track the current row in `new_df3`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df3.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df3.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df3
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df3.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df3 shape: {new_df3.shape}")  # Should be (49572, 7)
new_df3.fillna(0, inplace=True)
new_df3.to_csv('/content/df3_with_rh7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df3)

         Agra     Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   41.161574  41.827606  41.830277    40.160002    39.662472    39.551544
1   35.972955  36.428333  40.786968    38.902216    38.311691    38.238426
2   44.408019  44.943891  37.455915    36.097526    35.674656    35.429937
3   47.275721  47.923896  37.799133    36.981599    36.697318    36.507634
4   36.037678  36.197421  34.749731    33.634160    33.279640    33.399655
..        ...        ...        ...          ...          ...          ...
93  37.173240  37.478999  37.089195    35.356185    34.735086    34.752312
94  40.939216  40.762047  38.439892    37.723745    37.266436    37.559826
95  35.668877  35.570822  36.677662    35.959522    35.603366    35.683399
96  35.621103  35.535996  39.610659    38.293790    37.772879    38.030035
97  36.454647  36.568976  42.170326    40.781327    40.357018    40.472807

    Ahmedabad.4  Ahmedabad.5    Aligarh  Aligarh.1  ...    Vidisha  Vidisha.1  \
0     38.901479    39.129967  41.694799  42.091223  ...  44.810092  43.141469
1     37.445600    37.818667  36.884327  37.167919  ...  39.357052  38.569384
2     35.011790    34.921495  47.042603  47.213819  ...  38.005404  37.628583
3     36.072620    36.598696  50.047102  50.412705  ...  39.703103  39.157360
4     32.878505    33.722007  37.612871  37.684471  ...  33.111331  32.712889
..          ...          ...        ...        ...  ...        ...        ...
93    34.236157    34.441278  38.418309  38.466225  ...  34.059385  33.834162
94    37.395640    38.042623  42.253837  41.886984  ...  37.435366  37.438855
95    35.524909    35.932848  36.543250  36.318057  ...  34.576018  34.592704
96    37.629758    38.324760  35.952140  35.756884  ...  34.431236  34.432859
97    40.074824    40.460129  36.729987  36.690169  ...  36.184238  35.970685

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0   44.081626  45.042414  41.797773  42.574409  43.365775  44.172164
1   38.736034  38.903910  38.047255  38.085494  38.123918  38.162526
2   37.813373  37.999592  37.372074  37.496541  37.621790  37.747827
3   39.596730  40.042537  38.685808  39.085308  39.490297  39.900870
4   32.946124  33.181363  32.393560  32.586771  32.781438  32.977581
..        ...        ...        ...        ...        ...        ...
93  33.928653  34.023472  33.744731  33.771536  33.798378  33.825264
94  37.486153  37.533504  37.601512  37.569313  37.537140  37.504986
95  34.446724  34.301326  34.683686  34.500246  34.317709  34.136070
96  34.338598  34.244605  34.513267  34.379456  34.246152  34.113353
97  36.026119  36.081553  35.779511  35.824179  35.868849  35.913520

    Vidisha.8  Vidisha.9
0   41.378967  42.015536
1   37.693332  37.606970
2   37.298924  37.364620
3   38.647265  39.013176
4   32.305580  32.460925
..        ...        ...
93  33.749463  33.709003
94  37.812987  37.700503
95  34.628120  34.407914
96  34.499152  34.326119
97  35.644470  35.678455

[98 rows x 701 columns]

In [ ]:
new_df1.isnull().sum().sum()

0

## RAD df4

In [ ]:
import pandas as pd

# Load the original dataset
df4 = pd.read_csv('/content/rad_2003_2017.csv')
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df4.drop(df4.columns[cols_to_drop], axis=1, inplace=True)
rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df4.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df4 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df4.to_csv('/content/new_df4_rad7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df4)

# Load the filtered dataset
filtered_df4 = pd.read_csv('/content/new_df4_rad7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df4.shape[0] // 7  # Total years covered
num_columns = filtered_df4.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (rad1 to rad7) and correct row count
new_df4 = pd.DataFrame({
    f'rad{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df4` to `new_df4`
row_index = 0  # To track the current row in `new_df4`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df4.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df4.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df4
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df4.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df4 shape: {new_df4.shape}")  # Should be (49572, 7)
new_df4.fillna(0, inplace=True)
new_df4.to_csv('/content/df4_with_rad7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df4)

         Agra     Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   229.59375  229.07031  243.50781    243.90625    243.96875    244.05469
1   186.85156  186.92969  209.89062    206.88281    206.22656    206.11719
2   164.08594  163.89062  196.94531    193.82812    193.24219    193.25781
3   164.41406  163.86719  205.72656    203.21094    203.18750    201.96094
4   224.71094  223.91406  246.53906    244.57812    244.44531    243.96875
..        ...        ...        ...          ...          ...          ...
93  171.67188  171.28125  197.38281    194.65625    194.64062    193.78906
94  172.65625  173.02344  207.44531    202.69531    201.91406    201.50781
95  219.43750  219.04688  243.04688    240.80469    240.51562    240.14844
96  258.25854  257.48510  281.86010    280.68823    280.72730    280.28198
97  304.53906  303.82812  311.30470    311.35156    311.75000    311.53125

    Ahmedabad.4  Ahmedabad.5    Aligarh  Aligarh.1  ...    Vidisha  Vidisha.1  \
0     243.75781    244.05469  228.10938  227.89844  ...  230.51562  232.64844
1     204.67969    205.21875  185.64844  185.34375  ...  192.58594  192.66406
2     192.22656    192.36719  158.64062  159.01562  ...  184.82812  182.13281
3     201.78906    199.39062  161.36719  160.72656  ...  189.95312  188.54688
4     243.79688    242.61719  219.53906  218.88281  ...  237.29688  237.39844
..          ...          ...        ...        ...  ...        ...        ...
93    193.85156    191.68750  168.06250  167.87500  ...  192.40625  191.09375
94    199.87500    200.22656  167.11719  167.89844  ...  192.75781  191.79688
95    239.59375    239.07031  217.38281  217.25000  ...  234.22656  233.30469
96    280.02417    279.00854  257.95386  258.44604  ...  274.46948  274.98510
97    311.84375    311.21875  301.56250  301.07812  ...  311.82812  311.60938

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0   230.50000  228.01562  233.15625  232.03906  230.03125  227.53906
1   192.10156  192.17188  193.78906  192.73438  192.31250  192.26562
2   182.26562  182.39844  180.14844  179.52344  179.35156  179.25781
3   188.49219  188.62500  187.53125  186.67969  187.00781  187.47656
4   237.35938  237.54688  237.92188  237.38281  237.53125  237.56250
..        ...        ...        ...        ...        ...        ...
93  191.29688  191.40625  190.08594  189.86719  189.92969  189.87500
94  191.76562  191.85938  191.49219  190.94531  191.17188  191.22656
95  233.38281  233.37500  232.52344  232.32812  232.57031  232.49219
96  274.51636  273.76636  274.18042  273.92260  274.30542  274.26636
97  311.41406  311.15625  310.82812  310.37500  310.72656  310.93750

    Vidisha.8  Vidisha.9
0   232.97656  231.60156
1   193.64062  193.00781
2   178.10938  177.35156
3   185.85156  185.25000
4   237.96875  237.57031
..        ...        ...
93  188.81250  188.72656
94  190.28906  190.00781
95  231.71875  231.50781
96  273.21948  273.03980
97  310.19530  309.74220

[98 rows x 701 columns]
new_df4 shape: (9814, 7)
           rad1       rad2       rad3       rad4       rad5       rad6  \
0     229.59375  186.85156  164.08594  164.41406  224.71094  273.73886
1     204.28125  190.81250  164.57811  165.24219  212.27344  245.33162
2     226.23438  191.75000  173.64062  188.46094  220.43750  248.47101
3     217.05469  187.12500  167.01562  183.02344  191.36719  256.60090
4     230.00781  192.45312  168.75781  173.81250  222.41406  258.78995
...         ...        ...        ...        ...        ...        ...
9809  226.79688  202.14844  186.27344  196.49219  212.03125  271.04974
9810  182.96094  197.59375  172.50000  164.31250  210.17969  265.05610
9811  211.35156  195.93750  179.97656  158.69531  220.92969  245.21335
9812  212.43750  179.05469  186.88281  183.67188  226.85156  262.79184
9813  213.42186  207.17969  188.72656  190.00781  231.50781  273.03980

           rad7
0     296.10156
1     303.11720
2     297.67970
3     299.15625
4     299.28906
...         ...
9809  289.21875
9810  300.96094
9811  282.38280
9812  296.92188
9813  309.74220

[9814 rows x 7 columns]

##Df 5 tmax

In [ ]:
import pandas as pd

# Load the original dataset
df5 = pd.read_csv('/content/tmax_2003_2017.csv')
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df5.drop(df5.columns[cols_to_drop], axis=1, inplace=True)

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df5.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df5 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df5.to_csv('/content/new_df5_tmax7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df5)

# Load the filtered dataset
filtered_df5 = pd.read_csv('/content/new_df5_tmax7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df5.shape[0] // 7  # Total years covered
num_columns = filtered_df5.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (tmax1 to tmax7) and correct row count
new_df5 = pd.DataFrame({
    f'tmax{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df5` to `new_df5`
row_index = 0  # To track the current row in `new_df5`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df5.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df5.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df5
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df5.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df5 shape: {new_df5.shape}")  # Should be (49572, 7)
new_df5.fillna(0, inplace=True)
new_df5.to_csv('/content/df5_with_tmax7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df5)

         Agra     Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   33.529758  33.454636  35.859234    35.586552    35.494919    35.404396
1   29.302834  29.297249  33.804478    33.646938    33.733166    33.289040
2   22.228146  22.152056  30.053246    29.801754    29.907984    29.342056
3   19.212177  19.092621  28.775705    28.575020    28.707258    28.065523
4   26.424828  26.399397  31.831400    31.808577    31.955948    31.347672
..        ...        ...        ...          ...          ...          ...
93  25.048025  24.937206  31.828739    31.634909    31.694550    31.157095
94  22.016167  22.121347  29.339680    28.884291    28.968962    28.257631
95  27.413675  27.537634  33.115246    32.647717    32.653660    32.100945
96  32.626495  32.783199  35.916931    36.078514    36.227871    35.705090
97  40.550976  40.619980  38.801575    39.269981    39.452335    39.090839

    Ahmedabad.4  Ahmedabad.5    Aligarh  Aligarh.1  ...    Vidisha  Vidisha.1  \
0     35.125202    35.168549  33.352539  33.313046  ...  31.549355  31.965706
1     33.274582    32.596832  28.637459  28.670521  ...  30.813334  31.082230
2     29.353146    28.454033  21.349718  21.362600  ...  26.812258  26.868286
3     28.122339    27.049839  18.360001  18.329153  ...  24.401291  24.470343
4     31.445431    30.421379  25.725473  25.763212  ...  29.171379  29.238880
..          ...          ...        ...        ...  ...        ...        ...
93    30.942982    30.377096  24.543013  24.536373  ...  26.992941  27.074575
94    28.139864    27.074526  21.460741  21.606346  ...  25.238695  25.078762
95    31.958918    31.085218  26.852074  27.022850  ...  29.734964  29.629663
96    35.740540    34.933323  31.883537  32.061035  ...  34.291409  34.237743
97    39.240604    38.634964  39.933998  39.996017  ...  40.439461  40.451698

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0   31.767622  31.569536  32.361130  32.173508  31.985888  31.798265
1   30.845791  30.609354  31.290667  31.084459  30.878250  30.672041
2   26.646896  26.425505  26.909033  26.695282  26.481531  26.267782
3   24.154799  23.839254  24.523710  24.216007  23.908306  23.600605
4   29.078362  28.917845  29.300518  29.142931  28.985346  28.827759
..        ...        ...        ...        ...        ...        ...
93  27.004061  26.933548  27.123005  27.069094  27.015184  26.961273
94  25.077871  25.076981  24.910097  24.913572  24.917048  24.920525
95  29.651962  29.674263  29.532352  29.550657  29.568962  29.587267
96  34.270016  34.302288  34.193157  34.220890  34.248623  34.276356
97  40.554962  40.658230  40.487858  40.579163  40.670467  40.761772

    Vidisha.8  Vidisha.9
0   32.558468  32.381310
1   31.262667  31.086687
2   26.728388  26.522278
3   24.261532  23.961674
4   29.201637  29.046982
..        ...        ...
93  27.100922  27.063614
94  24.740541  24.748383
95  29.457340  29.471651
96  34.180843  34.204037
97  40.627285  40.706627

[98 rows x 701 columns]
new_df5 shape: (9814, 7)
          tmax1      tmax2      tmax3      tmax4      tmax5      tmax6  \
0     33.529758  29.302834  22.228146  19.212177  26.424828  35.418388
1     31.518629  29.537251  23.743145  20.899597  25.029911  32.356853
2     33.489597  28.949499  23.059355  23.836210  30.984375  31.668791
3     34.698307  29.792749  24.410807  23.176291  25.351786  30.561773
4     34.387177  30.169916  23.458065  21.693628  25.170086  34.628628
...         ...        ...        ...        ...        ...        ...
9809  33.573425  29.530750  26.973831  24.102440  26.761316  33.750584
9810  31.353346  28.894854  25.640806  22.962864  26.326788  31.839590
9811  33.467323  30.747812  24.658550  21.550613  28.956278  31.220974
9812  34.979816  31.252689  26.482006  26.429844  29.516909  35.041531
9813  33.524956  30.745647  27.063614  24.748383  29.471651  34.204037

          tmax7
0     39.713165
1     37.380085
2     39.167667
3     39.856499
4     38.734333
...         ...
9809  38.275875
9810  38.430599
9811  37.786591
9812  40.537025
9813  40.706627

[9814 rows x 7 columns]

##df6 tmin

In [ ]:
import pandas as pd

# Load the original dataset
df6 = pd.read_csv('/content/tmin_2003_2017.csv')
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df6.drop(df6.columns[cols_to_drop], axis=1, inplace=True)

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df6.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df6 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df6.to_csv('/content/new_df6_tmin7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df6)

# Load the filtered dataset
filtered_df6 = pd.read_csv('/content/new_df6_tmin7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df6.shape[0] // 7  # Total years covered
num_columns = filtered_df6.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (tmin1 to tmin7) and correct row count
new_df6 = pd.DataFrame({
    f'tmin{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df6` to `new_df6`
row_index = 0  # To track the current row in `new_df6`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df6.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df6.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df6
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df6.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df6 shape: {new_df6.shape}")  # Should be (49572, 7)
new_df6.fillna(0, inplace=True)
new_df6.to_csv('/content/df6_with_tmin7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df6)

         Agra     Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   18.538145  18.727459  20.882763    19.978830    19.696129    19.570484
1   12.680333  12.867583  18.637646    17.743584    17.577417    17.153334
2    9.531613   9.641291  13.963225    13.173125    13.086209    12.482862
3    7.711129   7.801693  12.970967    12.459274    12.458629    11.812661
4   10.168190  10.211940  14.372133    13.848449    13.813879    13.338362
..        ...        ...        ...          ...          ...          ...
93   9.412869   9.436439  15.381582    14.467353    14.245598    13.781820
94   8.135827   8.166370  13.729668    13.036724    12.925126    12.414546
95  10.886199  10.954001  16.343050    15.621323    15.471173    15.020049
96  15.455058  15.555494  20.050468    19.648396    19.560007    19.206602
97  22.791632  22.903954  23.650461    23.513132    23.502113    23.227674

    Ahmedabad.4  Ahmedabad.5    Aligarh  Aligarh.1  ...    Vidisha  Vidisha.1  \
0     19.056089    19.188549  18.585121  18.700989  ...  18.111130  17.883165
1     16.809834    16.366001  12.474375  12.620438  ...  15.406000  15.330042
2     12.311774    11.482420   9.590927   9.656835  ...  11.310645  11.209960
3     11.681170    10.952419   7.765726   7.844234  ...   9.818226   9.673428
4     13.182457    12.676035  10.189397  10.251379  ...  11.306379  11.182522
..          ...          ...        ...        ...  ...        ...        ...
93    13.364108    12.959800   9.454372   9.467012  ...   9.824182   9.796713
94    12.243462    11.558445   8.101518   8.104319  ...   9.686670   9.546125
95    14.825986    14.233915  10.754718  10.812698  ...  12.456277  12.371239
96    19.068169    18.646736  14.945314  15.016919  ...  16.383587  16.337368
97    23.197445    22.816416  22.373119  22.409836  ...  22.570965  22.484247

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0   18.047461  18.211754  17.735806  17.859798  17.983791  18.107782
1   15.187083  15.044125  15.302667  15.135417  14.968166  14.800917
2   11.087338  10.964718  11.142903  11.003468  10.864032  10.724597
3    9.557903   9.442379   9.540483   9.419032   9.297581   9.176129
4   11.149698  11.116875  11.088276  11.040647  10.993017  10.945388
..        ...        ...        ...        ...        ...        ...
93   9.776536   9.756360   9.799639   9.764265   9.728891   9.693517
94   9.564140   9.582155   9.460939   9.451275   9.441610   9.431945
95  12.326408  12.281577  12.325835  12.261187  12.196539  12.131891
96  16.322552  16.307735  16.334980  16.298248  16.261517  16.224785
97  22.600199  22.716150  22.428268  22.528851  22.629433  22.730015

    Vidisha.8  Vidisha.9
0   17.752743  17.836432
1   15.132333  14.940792
2   10.953226  10.796976
3    9.292016   9.164638
4   10.961207  10.898771
..        ...        ...
93   9.782389   9.731817
94   9.393769   9.356424
95  12.235600  12.151135
96  16.317778  16.259130
97  22.488241  22.573454

[98 rows x 701 columns]
new_df6 shape: (9814, 7)
          tmin1      tmin2     tmin3      tmin4      tmin5      tmin6  \
0     18.538145  12.680333  9.531613   7.711129  10.168190  17.460484
1     19.194435  12.681583  9.094193   7.540081  10.589911  17.082903
2     18.611694  11.859417  6.349919   7.488468  13.888214  15.865242
3     20.322742  14.094250  9.465322   7.093064  12.186428  15.368548
4     17.863388  13.037250  8.385080   6.975645   8.467241  17.351290
...         ...        ...       ...        ...        ...        ...
9809  17.899214  12.164583  9.850242   7.395484  12.074843  15.915000
9810  19.848125  12.400021  9.957318  10.237421  11.323525  15.810692
9811  19.286665  14.249754  8.713979   8.328770  12.419298  15.791624
9812  19.613493  15.847083  9.495546   9.643249  12.288781  17.644707
9813  19.288481  12.392763  9.731817   9.356424  12.151135  16.259130

          tmin7
0     24.015833
1     20.259083
2     22.212166
3     23.293083
4     21.961750
...         ...
9809  21.728251
9810  21.103165
9811  21.449181
9812  23.057920
9813  22.573454

[9814 rows x 7 columns]

##df 7 vpd

In [ ]:
import pandas as pd

# Load the original dataset
df7 = pd.read_csv('/content/vpd_2003_2017.csv')
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df7.drop(df7.columns[cols_to_drop], axis=1, inplace=True)

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df7.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df7 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df7.to_csv('/content/new_df7_vpd7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df7)

# Load the filtered dataset
filtered_df7 = pd.read_csv('/content/new_df7_vpd7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df7.shape[0] // 7  # Total years covered
num_columns = filtered_df7.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (vpd1 to vpd7) and correct row count
new_df7 = pd.DataFrame({
    f'vpd{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df7` to `new_df7`
row_index = 0  # To track the current row in `new_df7`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df7.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df7.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df7
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df7.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df7 shape: {new_df7.shape}")  # Should be (49572, 7)
new_df7.fillna(0, inplace=True)
new_df7.to_csv('/content/df7_with_vpd7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df7)

        Agra    Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   2.152436  2.129156   2.432780     2.436315     2.435518     2.425920
1   1.774526  1.767244   2.193793     2.213734     2.236362     2.182937
2   1.075947  1.064590   1.829675     1.824375     1.841943     1.786458
3   0.864281  0.851051   1.694656     1.686988     1.704094     1.644359
4   1.499487  1.495257   2.070810     2.086056     2.109148     2.035816
..       ...       ...        ...          ...          ...          ...
93  1.368784  1.356174   2.030964     2.037991     2.055055     1.993004
94  1.101268  1.110278   1.740846     1.706476     1.721707     1.647912
95  1.593998  1.606883   2.191355     2.147396     2.154395     2.086917
96  2.150793  2.171341   2.493950     2.546772     2.579634     2.500927
97  3.294569  3.303484   2.844996     2.958345     2.999723     2.938856

    Ahmedabad.4  Ahmedabad.5   Aligarh  Aligarh.1  ...   Vidisha  Vidisha.1  \
0      2.403250     2.403955  2.119870   2.106688  ...  1.852581   1.931611
1      2.196485     2.107554  1.694517   1.693646  ...  1.878568   1.921423
2      1.793614     1.703893  0.989148   0.987880  ...  1.508430   1.518441
3      1.655811     1.548370  0.790991   0.785596  ...  1.287228   1.299157
4      2.055100     1.926378  1.419590   1.421877  ...  1.801047   1.813399
..          ...          ...       ...        ...  ...       ...        ...
93     1.976811     1.910887  1.313644   1.312555  ...  1.575135   1.585434
94     1.639002     1.531340  1.050540   1.063924  ...  1.381275   1.368144
95     2.072901     1.966050  1.531205   1.549567  ...  1.839824   1.828472
96     2.514674     2.390354  2.056873   2.080964  ...  2.383259   2.376127
97     2.973919     2.868040  3.180700   3.192319  ...  3.282515   3.290470

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0    1.890838   1.849861   2.002920   1.966097   1.929208   1.892245
1    1.892841   1.864602   1.953473   1.930033   1.906835   1.883878
2    1.496366   1.474544   1.525489   1.504806   1.484357   1.464138
3    1.269619   1.240542   1.308957   1.280363   1.252212   1.224496
4    1.793586   1.773917   1.824092   1.805039   1.786129   1.767359
..        ...        ...        ...        ...        ...        ...
93   1.577746   1.570084   1.591028   1.585681   1.580348   1.575031
94   1.367508   1.366871   1.352536   1.353198   1.353858   1.354519
95   1.832913   1.837345   1.816955   1.821492   1.826010   1.830508
96   2.382144   2.388164   2.368751   2.374889   2.381020   2.387144
97   3.307061   3.323720   3.301990   3.316831   3.331727   3.346676

    Vidisha.8  Vidisha.9
0    2.033863   2.000768
1    1.956474   1.938448
2    1.510330   1.491264
3    1.289017   1.261803
4    1.814862   1.796699
..        ...        ...
93   1.588911   1.585925
94   1.336433   1.338383
95   1.809910   1.814528
96   2.367390   2.373648
97   3.330214   3.343341

[98 rows x 701 columns]
new_df7 shape: (9814, 7)
          vpd1      vpd2      vpd3      vpd4      vpd5      vpd6      vpd7
0     2.152436  1.774526  1.075947  0.864281  1.499487  2.532778  3.021501
1     1.780083  1.805755  1.241548  1.016633  1.329400  2.035778  2.764751
2     2.141566  1.755401  1.246432  1.295249  1.964272  1.985903  3.022166
3     2.252188  1.788383  1.299358  1.240214  1.305652  1.843551  3.104746
4     2.333781  1.879596  1.233716  1.104134  1.408023  2.399291  2.944535
...        ...       ...       ...       ...       ...       ...       ...
9809  2.193575  1.821946  1.572182  1.324197  1.475303  2.312334  2.862213
9810  1.707818  1.730480  1.417310  1.123556  1.450902  2.014338  2.931232
9811  2.098724  1.916770  1.347316  1.051741  1.737835  1.921682  2.778123
9812  2.346099  1.923919  1.525253  1.515229  1.816103  2.457964  3.274828
9813  2.108512  1.980405  1.585925  1.338383  1.814528  2.373648  3.343341

[9814 rows x 7 columns]

##df8 ws

In [ ]:
import pandas as pd

# Load the original dataset
df8 = pd.read_csv('/content/ws_2003_2017.csv')

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df8.drop(df8.columns[cols_to_drop], axis=1, inplace=True)

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df8.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df8 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df8.to_csv('/content/new_df8_ws7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df8)

# Load the filtered dataset
filtered_df8 = pd.read_csv('/content/new_df8_ws7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df8.shape[0] // 7  # Total years covered
num_columns = filtered_df8.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to ws7) and correct row count
new_df8 = pd.DataFrame({
    f'ws{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df8` to `new_df8`
row_index = 0  # To track the current row in `new_df8`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df8.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df8.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df8
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df8.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df8 shape: {new_df8.shape}")  # Should be (49572, 7)
new_df8.fillna(0, inplace=True)
new_df8.to_csv('/content/df8_with_ws7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df8)

        Agra    Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   1.447087  1.472469   1.882418     1.646675     1.555007     1.530538
1   1.465844  1.497618   1.814072     1.545826     1.477348     1.457992
2   1.528348  1.541313   2.130580     1.842977     1.752587     1.770300
3   1.507901  1.521048   2.066673     1.879319     1.831660     1.818877
4   1.675693  1.693954   2.057339     1.767544     1.660537     1.666563
..       ...       ...        ...          ...          ...          ...
93  1.395350  1.474600   1.927644     1.757639     1.714544     1.687518
94  1.563388  1.602465   2.153020     1.884773     1.785983     1.822687
95  1.732726  1.760665   2.257716     1.954409     1.840463     1.870593
96  1.737723  1.788122   2.553969     2.074082     1.869930     1.942972
97  1.969250  1.945876   2.771252     2.217593     2.118986     2.120812

    Ahmedabad.4  Ahmedabad.5   Aligarh  Aligarh.1  ...   Vidisha  Vidisha.1  \
0      1.568885     1.584954  1.461330   1.490182  ...  1.842793   1.833297
1      1.479722     1.496522  1.575955   1.613389  ...  1.452149   1.488852
2      1.785274     1.788013  1.634807   1.638276  ...  1.515200   1.498036
3      1.901415     1.806277  1.598473   1.600664  ...  1.643211   1.681375
4      1.680989     1.699615  1.942297   1.979001  ...  1.636981   1.629494
..          ...          ...       ...        ...  ...       ...        ...
93     1.771151     1.609546  1.632371   1.630180  ...  1.517330   1.495235
94     1.882034     1.897373  1.775758   1.796209  ...  1.590596   1.630404
95     1.906749     1.904192  1.917157   1.977600  ...  1.721039   1.711361
96     1.922885     1.991910  2.028431   2.084673  ...  1.820991   1.744297
97     2.261053     2.474701  2.216132   2.240966  ...  2.293557   2.354912

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0    1.868905   1.916200   1.727934   1.751672   1.795680   1.800063
1    1.515696   1.624346   1.517887   1.486479   1.551669   1.595494
2    1.465532   1.583860   1.561217   1.467540   1.473201   1.524879
3    1.663845   1.752044   1.711505   1.638646   1.643028   1.681558
4    1.671676   1.769553   1.641181   1.612512   1.651042   1.682998
..        ...        ...        ...        ...        ...        ...
93   1.496696   1.562068   1.499983   1.446845   1.466749   1.502174
94   1.594248   1.668203   1.647751   1.593517   1.604291   1.635882
95   1.688170   1.798647   1.720309   1.672101   1.656215   1.697483
96   1.728228   1.897320   1.811131   1.733341   1.715811   1.758906
97   2.201523   2.334460   2.459727   2.385590   2.248270   2.252288

    Vidisha.8  Vidisha.9
0    1.688856   1.714238
1    1.564086   1.518435
2    1.590069   1.498218
3    1.715157   1.630429
4    1.662181   1.617625
..        ...        ...
93   1.495418   1.446297
94   1.657247   1.584205
95   1.722865   1.669727
96   1.830487   1.795792
97   2.444388   2.472875

[98 rows x 701 columns]
new_df8 shape: (9814, 7)
           ws1       ws2       ws3       ws4       ws5       ws6       ws7
0     1.447087  1.465844  1.528348  1.507901  1.675693  1.910193  2.200667
1     1.391044  1.484163  1.589123  1.595923  1.996700  1.672105  1.981282
2     1.605221  1.705043  1.594008  1.865875  1.755148  1.807294  1.866401
3     1.481113  1.424326  1.646051  1.695505  1.666076  1.976887  2.099419
4     1.724831  1.503812  1.748755  1.702332  1.934500  1.713596  1.797773
...        ...       ...       ...       ...       ...       ...       ...
9809  1.493326  1.566302  1.456876  1.591127  1.692290  1.600633  1.710380
9810  1.829406  1.589373  1.537654  1.603968  1.686215  1.620265  1.660024
9811  1.469982  1.459680  1.598733  1.510153  1.749400  1.736116  1.989069
9812  1.453137  1.406512  1.539555  1.481614  1.834568  1.691046  2.139045
9813  1.549043  1.456022  1.446297  1.584205  1.669727  1.795792  2.472875

[9814 rows x 7 columns]

##df9 Soil

In [ ]:
import pandas as pd

# Load the original dataset
df9 = pd.read_csv('/content/ERA_soilwvl1_2003_2017.csv')
df9.isnull().sum().sum()

0

In [ ]:
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df9.drop(df9.columns[cols_to_drop], axis=1, inplace=True)

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df9.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df9 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df9.to_csv('/content/new_df9_soil7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df9)

# Load the filtered dataset
filtered_df9 = pd.read_csv('/content/new_df9_soil7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df9.shape[0] // 7  # Total years covered
num_columns = filtered_df9.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to soil7) and correct row count
new_df9 = pd.DataFrame({
    f'soil{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df9` to `new_df9`
row_index = 0  # To track the current row in `new_df9`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df9.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df9.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df9
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df9.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df9 shape: {new_df9.shape}")  # Should be (49572, 7)
#new_df9.fillna(0, inplace=True)
new_df9.to_csv('/content/df9_with_soil7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df9)

        Agra    Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   0.180751  0.184764   0.238673     0.157145     0.170268     0.161662
1   0.163155  0.164513   0.239343     0.152016     0.165688     0.160378
2   0.194952  0.197332   0.242910     0.152182     0.162664     0.159063
3   0.280117  0.286312   0.244076     0.155391     0.162868     0.161922
4   0.237302  0.243940   0.234434     0.156400     0.162168     0.161603
..       ...       ...        ...          ...          ...          ...
93  0.203628  0.201049   0.242095     0.160201     0.167739     0.165649
94  0.242911  0.253470   0.239706     0.159567     0.167044     0.165716
95  0.204415  0.236261   0.230630     0.157800     0.165750     0.164514
96  0.196024  0.206003   0.204920     0.149302     0.156092     0.156534
97  0.145668  0.157539   0.173988     0.132103     0.140510     0.131218

    Ahmedabad.4  Ahmedabad.5   Aligarh  Aligarh.1  ...   Vidisha  Vidisha.1  \
0      0.161921     0.162364  0.196712   0.191310  ...  0.308345   0.314662
1      0.154855     0.164407  0.172143   0.162667  ...  0.261453   0.260674
2      0.149404     0.163595  0.191748   0.186788  ...  0.279577   0.269354
3      0.151027     0.165828  0.256237   0.256542  ...  0.304806   0.310009
4      0.148710     0.166746  0.221784   0.224195  ...  0.267332   0.268217
..          ...          ...       ...        ...  ...       ...        ...
93     0.157989     0.145904  0.201599   0.195754  ...  0.275604   0.273651
94     0.158621     0.154822  0.254401   0.249060  ...  0.279913   0.274161
95     0.156198     0.156533  0.213693   0.212258  ...  0.288430   0.264840
96     0.146265     0.147989  0.197794   0.196924  ...  0.260493   0.258143
97     0.129493     0.104225  0.154716   0.155037  ...  0.256950   0.248405

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0    0.309169   0.312251   0.275371   0.318767   0.314982   0.313792
1    0.261620   0.255624   0.191338   0.268563   0.265664   0.261376
2    0.281485   0.274649   0.186438   0.276297   0.282507   0.277304
3    0.301021   0.289913   0.227321   0.319622   0.295727   0.285412
4    0.269895   0.260358   0.186964   0.274549   0.269300   0.265073
..        ...        ...        ...        ...        ...        ...
93   0.280013   0.269760   0.184493   0.283523   0.288711   0.282897
94   0.281042   0.267111   0.203192   0.285239   0.287390   0.280188
95   0.273599   0.270913   0.195001   0.276132   0.279702   0.276193
96   0.267267   0.257654   0.175394   0.262919   0.269709   0.268259
97   0.260185   0.253944   0.164528   0.252052   0.259895   0.260566

    Vidisha.8  Vidisha.9
0    0.323420   0.324244
1    0.263284   0.267220
2    0.273626   0.276037
3    0.299999   0.307888
4    0.261838   0.269102
..        ...        ...
93   0.287979   0.284118
94   0.292227   0.290579
95   0.281106   0.281411
96   0.263148   0.268549
97   0.252372   0.250847

[98 rows x 701 columns]
new_df9 shape: (9814, 7)
         soil1     soil2     soil3     soil4     soil5     soil6     soil7
0     0.180751  0.163155  0.194952  0.280117  0.237302  0.158158  0.154391
1     0.208745  0.168621  0.171240  0.197923  0.162049  0.169854  0.150771
2     0.145932  0.157520  0.167769  0.167397  0.153475  0.207741  0.148297
3     0.168622  0.169708  0.175036  0.177456  0.254938  0.215643  0.151197
4     0.149312  0.160139  0.164775  0.167043  0.161436  0.151577  0.153449
...        ...       ...       ...       ...       ...       ...       ...
9809  0.265188  0.272932  0.288215  0.282525  0.407876  0.309509  0.273807
9810  0.372750  0.284849  0.293821  0.394612  0.357515  0.341254  0.266529
9811  0.273505  0.265962  0.308203  0.412139  0.336218  0.333873  0.287075
9812  0.285544  0.305599  0.293023  0.308777  0.271169  0.273305  0.250584
9813  0.319288  0.281439  0.284118  0.290579  0.281411  0.268549  0.250847

[9814 rows x 7 columns]

In [ ]:
new_df9.isnull().sum().sum()

0

## df10 EVI

In [ ]:
import pandas as pd

# Load the original dataset
df10 = pd.read_csv('/content/EVI_2003_2017.csv')
df10.isnull().sum().sum()

1260

## drop nan

In [ ]:

import pandas as pd

# Load your DataFrame
df10 = pd.read_csv('/content/EVI_2003_2017.csv')

# Check for completely empty columns from row 3 onwards (index 2)
empty_cols = []
for col_index in range(len(df10.columns)):
    if df10.iloc[2:, col_index].isnull().all():  # Check if all values from row 3 are NaN
        empty_cols.append(col_index)

# Print the column numbers and names of completely empty columns
if empty_cols:
    print("Completely empty columns (starting from row 3, index 0):")
    for col_num in empty_cols:
        print(f"Column {col_num}: {df10.columns[col_num]}")
else:
    print("No completely empty columns found from row 3 onwards.")

Completely empty columns (starting from row 3, index 0):
Column 185: Darbhanga
Column 230: Fatehpur.4
Column 251: Ghazipur.1
Column 374: Junagadh
Column 505: Patna.1
Column 706: Tikamgarh
Column 738: Valsad

In [ ]:
# Load your DataFrame
df10 = pd.read_csv('/content/EVI_2003_2017.csv')

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df10.drop(df10.columns[cols_to_drop], axis=1, inplace=True)

# Display result
print(f"Dropped {len(cols_to_drop)} columns successfully.")

Dropped 55 columns successfully.

In [ ]:
import pandas as pd


# Function to extract base column names (ignoring .1, .2, etc.)
def get_base_name(col_name):
    return col_name.split('.')[0]  # Take only the part before the first "."

# Create a set of unique base names
unique_col_names = set(get_base_name(col) for col in df10.columns)

# Count the unique column names
print(f"Unique column names count (ignoring .1, .2, etc.): {len(unique_col_names)}")

Unique column names count (ignoring .1, .2, etc.): 128

In [ ]:
df10.isnull().sum().sum()

0

In [ ]:

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df10.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df10 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df10.to_csv('/content/new_df10_evi7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df10)

# Load the filtered dataset
filtered_df10 = pd.read_csv('/content/new_df10_evi7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df10.shape[0] // 7  # Total years covered
num_columns = filtered_df10.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to evi7) and correct row count
new_df10 = pd.DataFrame({
    f'evi{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df10` to `new_df10`
row_index = 0  # To track the current row in `new_df10`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df10.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df10.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df10
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df10.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df10 shape: {new_df10.shape}")  # Should be (49572, 7)
#new_df10.fillna(0, inplace=True)
new_df10.to_csv('/content/df10_with_evi7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df10)

      Agra  Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   0.3979  0.4924     0.1122       0.1874       0.2862       0.1904
1   0.3660  0.4719     0.1292       0.1791       0.3028       0.2005
2   0.3290  0.4788     0.1176       0.1716       0.2503       0.1959
3   0.1837  0.2286     0.1052       0.1779       0.2482       0.1958
4   0.1471  0.1701     0.0898       0.1489       0.2079       0.1796
..     ...     ...        ...          ...          ...          ...
93  0.2718  0.4279     0.2798       0.2616       0.1886       0.1808
94  0.3623  0.4448     0.2270       0.2812       0.3024       0.1883
95  0.3616  0.4733     0.2171       0.2760       0.3720       0.2002
96  0.3885  0.4939     0.1949       0.2646       0.2758       0.1938
97  0.2567  0.3163     0.1655       0.2253       0.2163       0.1923

    Ahmedabad.4  Ahmedabad.5  Aligarh  Aligarh.1  ...  Vidisha  Vidisha.1  \
0        0.3050       0.2010   0.5569     0.4641  ...   0.1711     0.2184
1        0.3140       0.2440   0.5680     0.4870  ...   0.1555     0.1517
2        0.2512       0.1819   0.6035     0.5191  ...   0.1313     0.1642
3        0.2632       0.1592   0.2988     0.2539  ...   0.1082     0.1168
4        0.2918       0.1506   0.1727     0.1684  ...   0.1019     0.1137
..          ...          ...      ...        ...  ...      ...        ...
93       0.2273       0.3264   0.5509     0.2582  ...   0.3934     0.2566
94       0.3320       0.2700   0.4850     0.2675  ...   0.3839     0.3453
95       0.3624       0.2571   0.4803     0.3754  ...   0.4235     0.4328
96       0.3038       0.2946   0.3493     0.3805  ...   0.4754     0.4052
97       0.2287       0.1930   0.3623     0.4463  ...   0.3185     0.3492

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0      0.2290     0.2967     0.1963     0.1244     0.2804     0.2269
1      0.2037     0.2058     0.1817     0.1731     0.2235     0.1243
2      0.2015     0.1522     0.1426     0.1600     0.1900     0.1486
3      0.1116     0.1287     0.1562     0.1107     0.1483     0.1215
4      0.1064     0.1191     0.1637     0.1004     0.1346     0.1081
..        ...        ...        ...        ...        ...        ...
93     0.4810     0.3898     0.2050     0.1940     0.2606     0.3874
94     0.4705     0.4898     0.1914     0.2460     0.2870     0.3243
95     0.4403     0.4553     0.1885     0.1940     0.3287     0.2691
96     0.2481     0.4330     0.1741     0.2176     0.3723     0.1439
97     0.1525     0.2977     0.1661     0.1342     0.2916     0.1231

    Vidisha.8  Vidisha.9
0      0.3836     0.1544
1      0.3751     0.1353
2      0.1510     0.0998
3      0.1673     0.1097
4      0.1411     0.1048
..        ...        ...
93     0.2357     0.1829
94     0.3116     0.1712
95     0.4438     0.2591
96     0.5012     0.1656
97     0.4303     0.1791

[98 rows x 701 columns]
new_df10 shape: (9814, 7)
        evi1    evi2    evi3    evi4    evi5    evi6    evi7
0     0.3979  0.3660  0.3290  0.1837  0.1471  0.1341  0.1208
1     0.1874  0.2364  0.2847  0.2500  0.2127  0.2564  0.2641
2     0.2621  0.2892  0.2152  0.1562  0.1375  0.1430  0.1270
3     0.1351  0.2433  0.2189  0.2136  0.3016  0.4085  0.4165
4     0.2022  0.1628  0.1419  0.1464  0.1443  0.1386  0.1514
...      ...     ...     ...     ...     ...     ...     ...
9809  0.2184  0.2720  0.2165  0.1773  0.1824  0.2409  0.1828
9810  0.1045  0.1011  0.1069  0.0941  0.1537  0.2515  0.3650
9811  0.1699  0.1712  0.1688  0.1637  0.1637  0.1877  0.1418
9812  0.1072  0.0948  0.0564  0.1178  0.2018  0.1275  0.5522
9813  0.1743  0.1850  0.1829  0.1712  0.2591  0.1656  0.1791

[9814 rows x 7 columns]

In [ ]:
new_df10.isnull().sum()

evi1    0
evi2    0
evi3    0
evi4    0
evi5    0
evi6    0
evi7    0
dtype: int64

In [ ]:
import pandas as pd

# Load both DataFrames
df10 = pd.read_csv('/content/EVI_2003_2017.csv')
new_df10 = pd.read_csv('/content/new_df10_evi7.csv')

# Function to extract base column names (ignoring .1, .2, etc.)
def get_base_name(col_name):
    return col_name.split('.')[0]  # Take only the part before the first "."

# Create sets of unique base column names
df10_base_cols = {get_base_name(col) for col in df10.columns}
new_df10_base_cols = {get_base_name(col) for col in new_df10.columns}

# Find columns present in df10 but missing in new_df10
missing_cols = df10_base_cols - new_df10_base_cols

# Print missing column names
print("Columns present in df10 but missing in new_df10 (ignoring .1, .2, etc.):")
print(missing_cols)

Columns present in df10 but missing in new_df10 (ignoring .1, .2, etc.):
{'Junagadh', 'Gurgaon'}

## df11 NDVI

In [ ]:
import pandas as pd

# Load the original dataset
df11 = pd.read_csv('/content/NDVI_2003_2017.csv')
df11.isnull().sum().sum()

1620

In [ ]:

import pandas as pd

# Load your DataFrame
df11 = pd.read_csv('/content/NDVI_2003_2017.csv')

# Check for completely empty columns from row 3 onwards (index 2)
empty_cols = []
for col_index in range(len(df11.columns)):
    if df11.iloc[2:, col_index].isnull().all():  # Check if all values from row 3 are NaN
        empty_cols.append(col_index)

# Print the column numbers and names of completely empty columns
if empty_cols:
    print("Completely empty columns (starting from row 3, index 0):")
    for col_num in empty_cols:
        print(f"Column {col_num}: {df11.columns[col_num]}")
else:
    print("No completely empty columns found from row 3 onwards.")

Completely empty columns (starting from row 3, index 0):
Column 57: Banaskantha
Column 185: Darbhanga
Column 230: Fatehpur.4
Column 251: Ghazipur.1
Column 374: Junagadh
Column 377: Junagadh.3
Column 505: Patna.1
Column 706: Tikamgarh
Column 738: Valsad

In [ ]:
# Load your DataFrame
df11 = pd.read_csv('/content/NDVI_2003_2017.csv')

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df11.drop(df11.columns[cols_to_drop], axis=1, inplace=True)

# Display result
print(f"Dropped {len(cols_to_drop)} columns successfully.")

Dropped 55 columns successfully.

In [ ]:

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df11.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df11 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df11.to_csv('/content/new_df11_ndvi7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df11)

# Load the filtered dataset
filtered_df11 = pd.read_csv('/content/new_df11_ndvi7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df11.shape[0] // 7  # Total years covered
num_columns = filtered_df11.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to ndvi7) and correct row count
new_df11 = pd.DataFrame({
    f'ndvi{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df11` to `new_df11`
row_index = 0  # To track the current row in `new_df11`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df11.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df11.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df11
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df11.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df11 shape: {new_df11.shape}")  # Should be (49572, 7)
#new_df11.fillna(0, inplace=True)
new_df11.to_csv('/content/df11_with_ndvi7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df11)

      Agra  Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   0.5970  0.7285     0.2469       0.2923       0.4825       0.2877
1   0.5211  0.6908     0.2551       0.2660       0.4777       0.2985
2   0.4517  0.6491     0.2445       0.2555       0.3679       0.2717
3   0.2597  0.3389     0.2024       0.2490       0.3210       0.2508
4   0.2100  0.2426     0.2134       0.2275       0.3203       0.2309
..     ...     ...        ...          ...          ...          ...
93  0.4368  0.6277     0.4864       0.4377       0.3544       0.3195
94  0.5420  0.6592     0.4281       0.4968       0.5180       0.3352
95  0.5460  0.6833     0.3907       0.4751       0.6075       0.3422
96  0.5758  0.6982     0.3613       0.4463       0.4925       0.3331
97  0.3984  0.4892     0.3031       0.3643       0.3448       0.2793

    Ahmedabad.4  Ahmedabad.5  Aligarh  Aligarh.1  ...  Vidisha  Vidisha.1  \
0        0.5061       0.3081   0.7347     0.6118  ...   0.3340     0.3736
1        0.5092       0.3697   0.7825     0.6775  ...   0.2790     0.2634
2        0.4087       0.2602   0.7400     0.6837  ...   0.2330     0.2396
3        0.3713       0.2208   0.4627     0.4032  ...   0.1918     0.1951
4        0.4092       0.2066   0.2736     0.2722  ...   0.1874     0.1917
..          ...          ...      ...        ...  ...      ...        ...
93       0.3716       0.4971   0.7244     0.4591  ...   0.6500     0.4907
94       0.5395       0.4204   0.6721     0.4595  ...   0.6389     0.5756
95       0.5824       0.3995   0.7045     0.5607  ...   0.6847     0.7021
96       0.5148       0.4427   0.5546     0.5955  ...   0.7183     0.6445
97       0.3716       0.2771   0.5485     0.6453  ...   0.5132     0.5516

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0      0.4072     0.4572     0.3781     0.2645     0.5032     0.3732
1      0.3580     0.3590     0.3408     0.3620     0.4077     0.2742
2      0.2991     0.2726     0.2847     0.2678     0.3191     0.2516
3      0.2023     0.2261     0.2691     0.2064     0.2362     0.2194
4      0.1954     0.2144     0.2789     0.2031     0.2237     0.1960
..        ...        ...        ...        ...        ...        ...
93     0.7360     0.6513     0.4397     0.3302     0.4816     0.6213
94     0.7230     0.7304     0.4041     0.4198     0.5291     0.5313
95     0.7099     0.6947     0.4184     0.3842     0.5795     0.4948
96     0.4932     0.6175     0.4079     0.3927     0.6324     0.2951
97     0.3006     0.4356     0.3544     0.2591     0.4872     0.2432

    Vidisha.8  Vidisha.9
0      0.6245     0.3125
1      0.5749     0.2689
2      0.2715     0.2072
3      0.2565     0.2037
4      0.2306     0.1973
..        ...        ...
93     0.4903     0.3226
94     0.5656     0.3462
95     0.6973     0.4914
96     0.7579     0.3519
97     0.6777     0.3639

[98 rows x 701 columns]
new_df11 shape: (9814, 7)
       ndvi1   ndvi2   ndvi3   ndvi4   ndvi5   ndvi6   ndvi7
0     0.5970  0.5211  0.4517  0.2597  0.2100  0.1917  0.1640
1     0.2636  0.4081  0.3943  0.3610  0.3160  0.3726  0.4054
2     0.3968  0.4201  0.3054  0.2308  0.2007  0.2142  0.1696
3     0.1619  0.3782  0.3295  0.3090  0.4259  0.5412  0.5516
4     0.3248  0.2476  0.2089  0.2128  0.1833  0.1879  0.2007
...      ...     ...     ...     ...     ...     ...     ...
9809  0.3888  0.4730  0.3996  0.3248  0.3243  0.4292  0.3379
9810  0.2106  0.1870  0.1948  0.2452  0.3833  0.4724  0.6566
9811  0.3427  0.3076  0.2977  0.2968  0.2935  0.3337  0.2603
9812  0.1675  0.1860  0.0833  0.2238  0.2908  0.3886  0.6946
9813  0.3679  0.3401  0.3226  0.3462  0.4914  0.3519  0.3639

[9814 rows x 7 columns]

In [ ]:
new_df11.isnull().sum().sum()

0

## df12 SIF

In [ ]:
# Load the original dataset
df12 = pd.read_csv('/content/SIF_2003_2017.csv')
df12.isnull().sum().sum()

4320

In [ ]:

import pandas as pd

# Load your DataFrame
df12 = pd.read_csv('/content/SIF_2003_2017.csv')

# Check for completely empty columns from row 3 onwards (index 2)
empty_cols = []
for col_index in range(len(df12.columns)):
    if df12.iloc[2:, col_index].isnull().all():  # Check if all values from row 3 are NaN
        empty_cols.append(col_index)

# Print the column numbers and names of completely empty columns
if empty_cols:
    print("Completely empty columns (starting from row 3, index 0):")
    for col_num in empty_cols:
        print(f"Column {col_num}: {df12.columns[col_num]}")
else:
    print("No completely empty columns found from row 3 onwards.")

Completely empty columns (starting from row 3, index 0):
Column 26: Amreli.2
Column 29: Amreli.5
Column 33: Amreli.9
Column 351: Jamnagar.9
Column 352: Jamnagar.10
Column 374: Junagadh
Column 375: Junagadh.1
Column 376: Junagadh.2
Column 377: Junagadh.3
Column 421: Kutch.1
Column 548: Rajkot.2
Column 549: Rajkot.3
Column 550: Rajkot.4
Column 551: Rajkot.5
Column 552: Rajkot.6
Column 553: Rajkot.7
Column 554: Rajkot.8
Column 555: Rajkot.9
Column 556: Rajkot.10
Column 558: Rajkot.12
Column 701: Surendranagar
Column 704: Surendranagar.3
Column 705: Surendranagar.4
Column 737: Vadodara.10

## Drop nan

In [ ]:
# Load your DataFrame
df12 = pd.read_csv('/content/SIF_2003_2017.csv')

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df12.drop(df12.columns[cols_to_drop], axis=1, inplace=True)

# Display result
print(f"Dropped {len(cols_to_drop)} columns successfully.")

Dropped 55 columns successfully.

### finding district name for lon lat

In [ ]:
import pandas as pd

# Load Data
df12 = pd.read_csv('/content/SIF_2003_2017.csv')  # No header
district = pd.read_csv('/content/lon_lat_with_districts_sheet2.csv', header=None)  # No header

# Extract Longitude & Latitude from df12
df12_lon_lat = pd.DataFrame({
    'Longitude': df12.iloc[0, :].values,  # First row is longitude
    'Latitude': df12.iloc[1, :].values   # Second row is latitude
})

# Extract District Data
district_lon_lat = pd.DataFrame({
    'District': district.iloc[0, :].values,  # First row has district names
    'Longitude': district.iloc[1, :].values,  # Second row is longitude
    'Latitude': district.iloc[2, :].values   # Third row is latitude
})

# Round the Longitude & Latitude to 2 decimals for both datasets
df12_lon_lat[['Longitude', 'Latitude']] = df12_lon_lat[['Longitude', 'Latitude']].astype(float).round(2)
district_lon_lat[['Longitude', 'Latitude']] = district_lon_lat[['Longitude', 'Latitude']].astype(float).round(2)

# Debugging: Print some rows of both datasets after rounding
print("df12 rounded coordinates:")
print(df12_lon_lat.head())

print("\ndistrict rounded coordinates:")
print(district_lon_lat.head())

# Create a tuple of (Longitude, Latitude) for each row in district data
district_tuples = list(zip(district_lon_lat['Longitude'], district_lon_lat['Latitude']))
district_dict = dict(zip(district_tuples, district_lon_lat['District']))

# Debugging: Print the district_dict to check what is being created
print("\nDistrict dictionary (Longitude, Latitude) to District:")
print(list(district_dict.items())[:10])  # print first 10 items for inspection

# Add the District by matching lon-lat pairs
df12_lon_lat['District'] = df12_lon_lat.apply(
    lambda row: district_dict.get((row['Longitude'], row['Latitude']), 'Unknown'), axis=1
)

# Debugging: Check the result for the first few rows
print("\nMatching results:")
print(df12_lon_lat[['Longitude', 'Latitude', 'District']].head())

# Append District column to df12
df12.loc[len(df12)] = df12_lon_lat['District'].values  # Append as a new row

# Save updated file
df12.to_csv('/content/SIF_2003_2017_with_districts.csv', index=False, header=False)

print("District row added successfully! Check the saved file.")

df12 rounded coordinates:
   Longitude  Latitude
0      72.75     20.25
1      73.25     20.25
2      73.00     20.50
3      73.25     20.50
4      71.00     20.75

district rounded coordinates:
    District  Longitude  Latitude
0  Bhagalpur      86.75     25.25
1  Bhagalpur      87.00     25.25
2  Bhagalpur      87.25     25.25
3    Bhojpur      84.50     25.25
4    Bhojpur      84.50     25.50

District dictionary (Longitude, Latitude) to District:
[((86.75, 25.25), 'Bhagalpur'), ((87.0, 25.25), 'Bhagalpur'), ((87.25, 25.25), 'Bhagalpur'), ((84.5, 25.25), 'Bhojpur'), ((84.5, 25.5), 'Bhojpur'), ((84.75, 25.5), 'Bhojpur'), ((84.25, 26.75), 'Champaran'), ((84.5, 26.75), 'Champaran'), ((84.25, 27.0), 'Champaran'), ((84.5, 27.0), 'Champaran')]

Matching results:
   Longitude  Latitude  District
0      72.75     20.25    Valsad
1      73.25     20.25    Valsad
2      73.00     20.50    Valsad
3      73.25     20.50    Valsad
4      71.00     20.75  Junagadh
District row added successfully! Check the saved file.

In [ ]:

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df12.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df12 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df12.to_csv('/content/new_df12_sif7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df12)

# Load the filtered dataset
filtered_df12 = pd.read_csv('/content/new_df12_sif7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df12.shape[0] // 7  # Total years covered
num_columns = filtered_df12.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to sif7) and correct row count
new_df12 = pd.DataFrame({
    f'sif{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df12` to `new_df12`
row_index = 0  # To track the current row in `new_df12`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df12.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df12.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df12
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df12.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df12 shape: {new_df12.shape}")  # Should be (49572, 7)
new_df12.fillna(0, inplace=True)
new_df12.to_csv('/content/df12_with_sif7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df12)

        Agra    Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0   0.460349  0.373897   0.431294     0.375819     0.467478     0.432914
1   0.271361  0.272581   0.381203     0.327878     0.313085     0.369026
2   0.147455  0.180998   0.243074     0.178973     0.245788     0.197716
3   0.152983  0.196693   0.213827     0.158890     0.228192     0.167044
4   0.211332  0.213699   0.197125     0.162595     0.248695     0.168106
..       ...       ...        ...          ...          ...          ...
93  0.166255  0.196523   0.239071     0.219745     0.229147     0.203638
94  0.146806  0.175382   0.194491     0.142402     0.165466     0.140527
95  0.150884  0.174795   0.237018     0.154011     0.227571     0.152334
96  0.146616  0.128014   0.234083     0.169794     0.218700     0.159581
97  0.103517  0.095506   0.134228     0.136277     0.155701     0.095155

    Ahmedabad.4  Ahmedabad.5   Aligarh  Aligarh.1  ...   Vidisha  Vidisha.1  \
0      0.325145     0.233711  0.463761   0.420110  ...  0.391435   0.538768
1      0.263029     0.206467  0.326181   0.305049  ...  0.292464   0.410591
2      0.141885     0.155113  0.162490   0.176302  ...  0.224504   0.302967
3      0.132294     0.141674  0.165314   0.189238  ...  0.184370   0.230331
4      0.129165     0.147824  0.209699   0.193527  ...  0.148226   0.200874
..          ...          ...       ...        ...  ...       ...        ...
93     0.213327     0.224547  0.190833   0.204469  ...  0.242337   0.278159
94     0.131687     0.127903  0.163869   0.167975  ...  0.183477   0.233282
95     0.124716     0.119172  0.168132   0.164398  ...  0.159598   0.234861
96     0.121298     0.114475  0.135567   0.131399  ...  0.125727   0.214966
97     0.107965     0.085044  0.106445   0.108086  ...  0.092513   0.205554

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0    0.387477   0.466053   0.376035   0.538971   0.376197   0.450184
1    0.309525   0.273291   0.284320   0.410723   0.297369   0.301495
2    0.230010   0.147578   0.229727   0.274986   0.226556   0.147934
3    0.196271   0.163913   0.181051   0.213400   0.182862   0.152208
4    0.151904   0.221854   0.173216   0.200176   0.148274   0.223427
..        ...        ...        ...        ...        ...        ...
93   0.242755   0.168965   0.226811   0.290113   0.229753   0.169545
94   0.177592   0.160766   0.181232   0.231262   0.168413   0.147628
95   0.157804   0.171264   0.199006   0.237644   0.158934   0.158759
96   0.128592   0.149107   0.140891   0.221157   0.124408   0.150633
97   0.097341   0.099085   0.131562   0.209877   0.096954   0.103121

    Vidisha.8  Vidisha.9
0    0.404658   0.542368
1    0.288072   0.404687
2    0.236403   0.274751
3    0.192025   0.213086
4    0.183158   0.198528
..        ...        ...
93   0.246119   0.301818
94   0.178705   0.238103
95   0.199379   0.239163
96   0.157375   0.211307
97   0.148547   0.216822

[98 rows x 701 columns]
new_df12 shape: (9814, 7)
          sif1      sif2      sif3      sif4      sif5      sif6      sif7
0     0.460349  0.271361  0.147455  0.152983  0.211332  0.143035  0.097468
1     0.413988  0.276942  0.167128  0.158679  0.182458  0.169911  0.123794
2     0.430968  0.275389  0.142571  0.152244  0.162843  0.140351  0.098944
3     0.347055  0.160823  0.146017  0.152691  0.148744  0.152405  0.092325
4     0.385521  0.182052  0.122808  0.159885  0.155094  0.100617  0.110321
...        ...       ...       ...       ...       ...       ...       ...
9809  0.453673  0.308169  0.243711  0.206409  0.211184  0.171106  0.173132
9810  0.465861  0.335586  0.257730  0.226759  0.218054  0.197604  0.175146
9811  0.447579  0.298712  0.256211  0.242378  0.238100  0.155212  0.219888
9812  0.448307  0.332752  0.239606  0.215570  0.191070  0.163326  0.206429
9813  0.475648  0.349579  0.301818  0.238103  0.239163  0.211307  0.216822

[9814 rows x 7 columns]

In [ ]:
new_df12.isnull().sum().sum()

0

## df 13 SPI

In [ ]:
import pandas as pd

# Load the original dataset
df13 = pd.read_csv('/content/SPI_2003_2017.csv')
df13.isnull().sum().sum()

240

In [ ]:

import pandas as pd

# Load your DataFrame
df13 = pd.read_csv('/content/SPI_2003_2017.csv')

# Check for completely empty columns from row 3 onwards (index 2)
empty_cols = []
for col_index in range(len(df13.columns)):
    if df13.iloc[2:, col_index].isnull().all():  # Check if all values from row 3 are NaN
        empty_cols.append(col_index)

# Print the column numbers and names of completely empty columns
if empty_cols:
    print("Completely empty columns (starting from row 3, index 0):")
    for col_num in empty_cols:
        print(f"Column {col_num}: {df13.columns[col_num]}")
else:
    print("No completely empty columns found from row 3 onwards.")

Completely empty columns (starting from row 3, index 0):
Column 479: Muzaffarpur

In [ ]:
# Load your DataFrame
df13 = pd.read_csv('/content/SPI_2003_2017.csv')

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df13.drop(df13.columns[cols_to_drop], axis=1, inplace=True)

# Display result
print(f"Dropped {len(cols_to_drop)} columns successfully.")

Dropped 55 columns successfully.

In [ ]:

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df13.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df13 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df13.to_csv('/content/new_df13_spi7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df13)

# Load the filtered dataset
filtered_df13 = pd.read_csv('/content/new_df13_spi7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df13.shape[0] // 7  # Total years covered
num_columns = filtered_df13.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to spi7) and correct row count
new_df13 = pd.DataFrame({
    f'spi{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df13` to `new_df13`
row_index = 0  # To track the current row in `new_df13`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df13.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df13.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df13
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df13.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df13 shape: {new_df13.shape}")  # Should be (49572, 7)
new_df13.fillna(0, inplace=True)
new_df13.to_csv('/content/df13_with_spi7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df13)

        Agra    Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0  -1.161964 -1.185629   0.369771    -1.854333    -0.881514    -0.600126
1  -0.652164 -0.620262  -0.683075    -0.954673    -0.885916    -0.809852
2   0.958123  0.468352  -0.521057     0.239590    -0.750982    -0.664586
3   1.214814  1.242580  -0.407368    -0.941963     0.307848     0.762749
4  -1.203880 -1.124228  -0.367882    -0.982718    -0.947804    -0.968718
..       ...       ...        ...          ...          ...          ...
93 -1.030667 -0.832109  -0.521057    -0.812392    -0.750982    -0.664586
94  0.915018  0.850147  -0.407368     0.377027    -0.862515    -0.768094
95 -1.203880 -1.124228  -0.367882     0.419859     0.685586     0.598102
96  0.742153  0.629670  -0.399728    -0.861199    -0.880818    -0.915316
97 -0.926826  0.352444  -0.423831    -0.728299    -0.596824    -0.572485

    Ahmedabad.4  Ahmedabad.5   Aligarh  Aligarh.1  ...   Vidisha  Vidisha.1  \
0     -0.856633    -0.622907 -1.374692  -1.276832  ... -1.224287  -1.268275
1     -0.098776    -0.037136 -0.757564  -0.739901  ... -0.579483  -0.525472
2     -0.716589    -0.781144  1.401793   1.487450  ...  1.366299   0.908690
3      0.916090     0.899397  1.287393   1.097784  ...  1.624188   1.254296
4     -1.184393    -1.279073 -0.007622  -0.219250  ... -1.057187  -1.046748
..          ...          ...       ...        ...  ...       ...        ...
93    -0.716589    -0.781144 -1.183213  -1.131696  ... -0.777099  -0.857891
94     0.149128    -1.137127  0.999388   0.933277  ...  1.239319   0.993595
95     0.624409     0.504855 -1.579379  -1.500010  ... -1.057187  -1.046748
96    -0.994451    -1.196142  0.028237   0.145817  ...  0.294068   0.271149
97    -0.771802    -1.007750  0.676225   0.924869  ... -0.690077  -0.670525

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0   -1.520299  -1.453417  -1.555675  -0.601491  -0.090578  -0.101749
1   -0.625275  -0.693378  -0.700962  -0.755153  -0.677492  -0.642011
2    1.461121   1.397053   1.219018   1.163385   1.374350   1.177454
3    1.111181   1.098217   1.231601   1.020547   0.986400   0.574830
4   -1.323215  -1.308085  -1.280615  -0.352331  -1.782876  -1.740558
..        ...        ...        ...        ...        ...        ...
93  -0.960244  -0.951924  -0.971698  -0.992872  -0.931268  -0.903872
94   0.856685   0.467077   0.166857   0.314685   0.156811   0.089467
95  -1.323215  -1.308085  -1.280615  -1.529930  -1.782876  -1.740558
96  -0.124340   0.094023   0.150043   0.144170   0.552778   0.516986
97  -0.847017  -1.096693  -1.135113   0.631039   0.259411   0.375978

    Vidisha.8  Vidisha.9
0   -0.198641  -1.548729
1   -0.682913  -0.578321
2    0.984275   0.064507
3    0.242227  -0.343521
4   -1.687115  -1.246856
..        ...        ...
93  -0.875708  -0.704455
94   0.177761   0.295795
95  -1.687115  -1.246856
96  -0.042672  -0.909388
97   0.055591  -0.776944

[98 rows x 701 columns]
new_df13 shape: (9814, 7)
          spi1      spi2      spi3      spi4      spi5      spi6      spi7
0    -1.161964 -0.652164  0.958123  1.214814 -1.203880 -1.187830  0.742881
1     1.061965 -0.652164 -1.030667  0.685419  0.099154  0.777642 -0.926826
2    -1.161964 -0.652164 -0.031681 -1.438687 -1.203880  0.591422 -0.926826
3     0.341531 -0.652164 -1.030667 -0.050371  1.646789  1.292420 -0.926826
4    -1.161964 -0.652164  0.223978 -1.438687 -1.203880 -1.187830  0.893023
...        ...       ...       ...       ...       ...       ...       ...
9809 -0.665934 -0.578321 -0.704455 -1.220954  1.918497  1.062463  0.940108
9810  0.791770 -0.578321 -0.704455  1.087259  0.660066  1.033000  0.589764
9811  0.764020 -0.578321  0.689766  0.965700  0.180529  1.656656  1.339036
9812 -0.281647 -0.578321  0.800542 -0.191741 -1.246856  0.902651 -0.776944
9813  0.375653 -0.578321 -0.704455  0.295795 -1.246856 -0.909388 -0.776944

[9814 rows x 7 columns]

```
filled 42 null with 0
```

In [ ]:
new_df13.isnull().sum().sum()

0

## df14 STI

In [ ]:
import pandas as pd

# Load the original dataset
df14 = pd.read_csv('/content/STI_2003_2017.csv')
df14.isnull().sum().sum()

4500

In [ ]:

import pandas as pd

# Load your DataFrame
df14 = pd.read_csv('/content/STI_2003_2017.csv')

# Check for completely empty columns from row 3 onwards (index 2)
empty_cols = []
for col_index in range(len(df14.columns)):
    if df14.iloc[2:, col_index].isnull().all():  # Check if all values from row 3 are NaN
        empty_cols.append(col_index)

# Print the column numbers and names of completely empty columns
if empty_cols:
    print("Completely empty columns (starting from row 3, index 0):")
    for col_num in empty_cols:
        print(f"Column {col_num}: {df14.columns[col_num]}")
else:
    print("No completely empty columns found from row 3 onwards.")

Completely empty columns (starting from row 3, index 0):
Column 33: Amreli.9
Column 57: Banaskantha
Column 79: Banda.7
Column 80: Barabanki
Column 81: Barabanki.1
Column 98: Betul.5
Column 99: Betul.6
Column 140: Budaun.1
Column 153: Champaran.2
Column 154: Champaran.3
Column 179: Damoh.1
Column 180: Damoh.2
Column 244: Gaya.3
Column 245: Gaya.4
Column 282: Gurgaon
Column 306: Hissar
Column 307: Hissar.1
Column 343: Jamnagar.1
Column 344: Jamnagar.2
Column 345: Jamnagar.3
Column 589: Sabarkantha.3
Column 590: Sabarkantha.4
Column 743: Varanasi.1
Column 744: Varanasi.2
Column 745: Varanasi.3

In [ ]:
# Load your DataFrame
df14 = pd.read_csv('/content/STI_2003_2017.csv')

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df14.drop(df14.columns[cols_to_drop], axis=1, inplace=True)

# Display result
print(f"Dropped {len(cols_to_drop)} columns successfully.")

Dropped 55 columns successfully.

In [ ]:

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df14.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df14 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df14.to_csv('/content/new_df14_sti7.csv', index=False)
# Display the filtered DataFrame
print(filtered_df14)

# Load the filtered dataset
filtered_df14 = pd.read_csv('/content/new_df14_sti7.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df14.shape[0] // 7  # Total years covered
num_columns = filtered_df14.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to sti7) and correct row count
new_df14 = pd.DataFrame({
    f'sti{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df14` to `new_df14`
row_index = 0  # To track the current row in `new_df14`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df14.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df14.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df14
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df14.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df14 shape: {new_df14.shape}")  # Should be (49572, 7)
#new_df14.fillna(0, inplace=True)
new_df14.to_csv('/content/df14_with_sti7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df14)

        Agra    Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0  -0.557448 -0.534702  -1.397383    -1.141573    -1.161637    -1.180136
1   0.149601  0.166277   0.484261     1.281800     1.220229     1.157166
2  -0.077448 -0.037042  -0.199323     0.634832     0.643285     0.650632
3  -1.215920 -1.212688   0.246905     0.075847     0.057775     0.039771
4   0.208015  0.260944   0.164473    -0.112339    -0.131504    -0.150593
..       ...       ...        ...          ...          ...          ...
93  0.816567  0.653906   1.002228     0.033937    -0.012012    -0.057881
94  0.617303  0.573878   0.557352     0.150989     0.139267     0.127366
95  0.864176  0.836388   1.347028     1.037228     1.002175     0.965523
96  0.309484  0.267205   0.644537     0.084874     0.079140     0.073396
97  1.446768  1.405716   0.654057     0.497425     0.543506     0.587295

    Ahmedabad.4  Ahmedabad.5   Aligarh  Aligarh.1  ...   Vidisha  Vidisha.1  \
0     -1.211392    -1.140844 -0.412818  -0.359146  ... -0.712341  -0.712318
1      1.027380     0.882974  0.230769   0.256168  ...  0.334687   0.311326
2      0.661922     0.474005 -0.062846  -0.099320  ...  0.103336   0.094824
3      0.004428    -0.074124 -1.247853  -1.264945  ... -1.055438  -1.075934
4     -0.188211    -0.378745  0.307923   0.303823  ...  0.226403   0.265672
..          ...          ...       ...        ...  ...       ...        ...
93    -0.148455    -0.190692  0.398426   0.349468  ...  0.943088   0.829095
94     0.103366     0.093811  0.513322   0.503619  ...  0.670094   0.658271
95     0.887977     0.847824  0.815223   0.818365  ...  0.877556   0.857286
96     0.061977     0.115817  0.227791   0.229443  ...  0.341627   0.312528
97     0.667218     0.832068  1.351448   1.340413  ...  1.474550   1.454593

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0   -0.708323  -0.665910  -0.619158  -0.568625  -0.515070  -0.511961
1    0.287402   0.315437   0.343926   0.372676   0.401473   0.341147
2    0.085787   0.085184   0.084351   0.083268   0.081913   0.051258
3   -1.091949  -1.143678  -1.192800  -1.239012  -1.282077  -1.340319
4    0.305772   0.279449   0.252285   0.224320   0.195597   0.213358
..        ...        ...        ...        ...        ...        ...
93   0.709269   0.639886   0.565802   0.487165   0.404253   0.395319
94   0.644288   0.636113   0.626529   0.615612   0.603466   0.618486
95   0.835389   0.837853   0.839654   0.840743   0.841069   0.839034
96   0.282704   0.283422   0.283903   0.284137   0.284115   0.268057
97   1.430462   1.423692   1.413520   1.399923   1.382956   1.360749

    Vidisha.8  Vidisha.9
0   -0.507647  -0.502070
1    0.279008   0.215210
2    0.019297  -0.013804
3   -1.393734  -1.442256
4    0.231336   0.249483
..        ...        ...
93   0.385086   0.373510
94   0.631569   0.642759
95   0.836237   0.832633
96   0.251499   0.234456
97   1.336614   1.310613

[98 rows x 701 columns]
new_df14 shape: (9814, 7)
          sti1      sti2      sti3      sti4      sti5      sti6      sti7
0    -0.557448  0.149601 -0.077448 -1.215920  0.208015  2.263535  1.638677
1    -1.260956  0.052146  0.433246  0.226495  0.100109  0.898637 -0.801175
2    -0.348279 -0.776421 -1.338061  1.536057  3.488287  0.228896  0.661625
3     1.669102  1.017664  1.416367  0.857574  0.498179 -0.719909  1.179717
4    -0.272494  0.494029 -0.058509  0.098407 -0.887439  1.813704  0.509964
...        ...       ...       ...       ...       ...       ...       ...
9809 -0.678930 -1.160174 -0.737078 -1.691092 -0.329762 -0.057224 -0.565286
9810 -0.774368 -1.469354  0.470265 -0.509391 -1.339355 -0.945207 -0.935383
9811 -0.017254  0.013286 -1.899838 -1.661636  0.982870 -0.798780 -1.242813
9812  1.627583  2.221604  0.574912  1.141925  1.360173  1.364600  2.154642
9813  0.643214 -0.121469  0.373510  0.642759  0.832633  0.234456  1.310613

[9814 rows x 7 columns]

In [ ]:
new_df14.isnull().sum().sum()

0

## df 15 heatstress

In [ ]:
import pandas as pd

# Load the original dataset
df15 = pd.read_csv('/content/heatstressdays_2003_2017.csv')
df15.isnull().sum().sum()

0

In [ ]:
# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df15.drop(df15.columns[cols_to_drop], axis=1, inplace=True)

rows_per_year = 12

filtered_data = []

# Adjusted range to start from 2004
for year in range(2004, 2018):

    # Adjusted indices for 7 months: Oct (row 10) to Apr (row 16) for each year
    # The row indices in the DataFrame are zero-based, so row 10 corresponds to index 9.
    start_index = (year - 2004) * rows_per_year + 9  # 2004 should start at index 9 (row 10)
    end_index = start_index + 7  # Select 7 rows from Oct-Apr (inclusive)

    year_data = df15.iloc[start_index:end_index]  # Select rows for the current year
    filtered_data.append(year_data)

# Combine the filtered data into a single DataFrame
filtered_df15 = pd.concat(filtered_data, ignore_index=True)
# Save the filtered data to CSV
filtered_df15.to_csv('/content/new_df15_heatstress.csv', index=False)
# Display the filtered DataFrame
print(filtered_df15)

# Load the filtered dataset
filtered_df15 = pd.read_csv('/content/new_df15_heatstress.csv')

# Initialize the new DataFrame for all 972 columns
num_years = filtered_df15.shape[0] // 7  # Total years covered
num_columns = filtered_df15.shape[1]  # Number of original columns

# Create the new DataFrame with 7 columns (ws1 to heatstress7) and correct row count
new_df15 = pd.DataFrame({
    f'heatstress{i}': np.nan for i in range(1, 8)  # Adjusted for 7 months
}, index=range(num_years * num_columns))  # One row for each year-column block

# Assign values from `filtered_df15` to `new_df15`
row_index = 0  # To track the current row in `new_df15`

for col_index in range(num_columns):
    for year_index in range(num_years):
        start_index = year_index * 7
        end_index = start_index + 7
        if end_index > filtered_df15.shape[0]:
            break

        # Extract 7 months for this column-year block
        year_data = filtered_df15.iloc[start_index:end_index, col_index].values

        # Assign to the corresponding row in new_df15
        #year_data = pd.to_numeric(year_data, errors='coerce')
        new_df15.iloc[row_index, :] = year_data
        row_index += 1

# Save to CSV and verify shape
print(f"new_df15 shape: {new_df15.shape}")  # Should be (49572, 7)
#new_df15.fillna(0, inplace=True)
new_df15.to_csv('/content/df15_with_heatstress7_values_2004.csv', index=False)

# Display first 10 rows for confirmation
print(new_df15)

    Agra  Agra.1  Ahmedabad  Ahmedabad.1  Ahmedabad.2  Ahmedabad.3  \
0     31      31         31           31           31           31
1     17      17         30           30           30           30
2      2       2         25           17           17           16
3      0       0         20           12           11           10
4     11      11         26           23           22           21
..   ...     ...        ...          ...          ...          ...
93     0       0         31           25           23           21
94     0       0         19           14           12           12
95    11      10         26           28           28           28
96    26      26         31           31           31           31
97    30      30         30           30           30           30

    Ahmedabad.4  Ahmedabad.5  Aligarh  Aligarh.1  ...  Vidisha  Vidisha.1  \
0            31           31       31         31  ...       31         31
1            30           30       18         18  ...       18         18
2            16           15        2          2  ...        3          3
3             9            8        0          0  ...        0          0
4            21           20       10         10  ...       12         12
..          ...          ...      ...        ...  ...      ...        ...
93           16           14        0          0  ...        0          0
94           11           10        0          0  ...        0          0
95           28           26        9          9  ...       11         12
96           31           31       26         26  ...       27         27
97           30           30       30         30  ...       30         30

    Vidisha.2  Vidisha.3  Vidisha.4  Vidisha.5  Vidisha.6  Vidisha.7  \
0          31         31         31         31         31         30
1          18         18         18         18         18         18
2           3          3          3          3          3          3
3           0          0          0          0          0          0
4          11         11         11         11         11         11
..        ...        ...        ...        ...        ...        ...
93          0          0          0          0          0          0
94          0          0          0          0          0          0
95         12         12         12         11         10         10
96         27         27         27         27         27         27
97         30         30         30         30         30         30

    Vidisha.8  Vidisha.9
0          30         29
1          18         18
2           3          3
3           0          0
4          11         10
..        ...        ...
93          0          0
94          0          0
95         10         10
96         27         27
97         30         30

[98 rows x 701 columns]
new_df15 shape: (9814, 7)
      heatstress1  heatstress2  heatstress3  heatstress4  heatstress5  \
0            31.0         17.0          2.0          0.0         11.0
1            31.0         27.0          0.0          0.0          3.0
2            31.0         23.0          0.0          3.0         23.0
3            31.0         23.0          2.0          2.0          3.0
4            31.0         25.0          0.0          0.0          6.0
...           ...          ...          ...          ...          ...
9809         31.0         17.0          0.0          0.0          2.0
9810         27.0          7.0          0.0          0.0          0.0
9811         30.0         28.0          1.0          0.0         10.0
9812         28.0         29.0          1.0          0.0         16.0
9813         31.0         28.0          0.0          0.0         10.0

      heatstress6  heatstress7
0            31.0         30.0
1            29.0         30.0
2            28.0         30.0
3            19.0         30.0
4            31.0         30.0
...           ...          ...
9809         29.0         30.0
9810         22.0         30.0
9811         20.0         30.0
9812         30.0         30.0
9813         27.0         30.0

[9814 rows x 7 columns]

## df 16 LST

In [ ]:
import pandas as pd

# Load the original dataset
df14 = pd.read_csv('/content/LST_2003_2017.csv')
df14.isnull().sum().sum()

10396

In [ ]:

import pandas as pd

# Load your DataFrame
df = pd.read_csv('/content/LST_2003_2017.csv')

# Check for completely empty columns from row 3 onwards (index 2)
empty_cols = []
for col_index in range(len(df.columns)):
    if df.iloc[2:, col_index].isnull().all():  # Check if all values from row 3 are NaN
        empty_cols.append(col_index)

# Print the column numbers and names of completely empty columns
if empty_cols:
    print("Completely empty columns (starting from row 3, index 0):")
    for col_num in empty_cols:
        print(f"Column {col_num}: {df.columns[col_num]}")
else:
    print("No completely empty columns found from row 3 onwards.")

No completely empty columns found from row 3 onwards.

# Adding Lon Lat

In [ ]:
import pandas as pd
import numpy as np

file_path = '/content/district_grids_arranged.csv'
df3 = pd.read_csv(file_path, header=None)

# List of unique column indices to drop
cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df3.drop(df3.columns[cols_to_drop], axis=1, inplace=True)

# Extract the first and second rows for Longitude and Latitude
first_row = df3.iloc[1]
second_row = df3.iloc[2]

# Repeat values 14 times for each unique longitude and latitude
lon_repeated = np.repeat(first_row.values, 14).astype(float)
lat_repeated = np.repeat(second_row.values, 14).astype(float)

# Create a new DataFrame with Lon and Lat as float
new_df3 = pd.DataFrame({
    'Lon': lon_repeated,
    'Lat': lat_repeated
})

# Save the DataFrame as a CSV file
new_df3.to_csv('lon_lat_14yers_701grids.csv', index=False)

# Display the first few rows to confirm
print(new_df3)

        Lon    Lat
0     78.00  27.00
1     78.00  27.00
2     78.00  27.00
3     78.00  27.00
4     78.00  27.00
...     ...    ...
9809  77.75  24.25
9810  77.75  24.25
9811  77.75  24.25
9812  77.75  24.25
9813  77.75  24.25

[9814 rows x 2 columns]

In [ ]:
new_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9814 entries, 0 to 9813
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Lon     9814 non-null   float64
 1   Lat     9814 non-null   float64
dtypes: float64(2)
memory usage: 153.5 KB

In [ ]:
new_df3.shape

(9814, 2)

# Dataset with all params

# find nearest 10 grids

In [ ]:
# prompt: df1 = pd.read_csv('/content/district_grids.csv', header = None) data is in 3 rows , where  row index 0 is district , row  index 2 is longitude ,  row index 3 is lat .....
# now create a new df such that 1st col is long , 2nd col is lat , 3 rd col is District.

# Assuming df1 is already loaded as in the provided code
df1 = pd.read_csv('/content/district_grids_arranged.csv', header = None)

cols_to_drop = list(set([185, 230, 251, 374, 505, 706, 738, 57, 377, 26, 29, 33, 351, 352, 375, 376, 421,
                         548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 701, 704, 705, 737, 479, 79,
                         80, 81, 98, 99, 140, 153, 154, 179, 180, 244, 245, 282, 306, 307, 343, 344, 345,
                         589, 590, 743, 744, 745]))

# Drop the columns
df1.drop(df1.columns[cols_to_drop], axis=1, inplace=True)

# Extract longitude, latitude, and district from df1
longitude = df1.iloc[1].values.astype(float)
latitude = df1.iloc[2].values.astype(float)
district = df1.iloc[0].values

# Create the new DataFrame
new_df = pd.DataFrame({
    'Longitude': longitude,
    'Latitude': latitude,
    'DISTRICT': district
})

# Display the new DataFrame
new_df.to_csv('lon_lat_with_districts_701.csv',index = None)

In [ ]:
df1 = pd.read_csv('/content/lon_lat_with_districts_701.csv')
#df2 = pd.read_csv('/content/detrended_district_yearly_yield_6s.csv')

In [ ]:
df1

     Longitude  Latitude   DISTRICT
0        78.00     27.00       Agra
1        78.25     27.00       Agra
2        71.75     22.25  Ahmedabad
3        72.25     22.75  Ahmedabad
4        72.50     22.75  Ahmedabad
..         ...       ...        ...
696      77.75     24.00    Vidisha
697      78.00     24.00    Vidisha
698      78.25     24.00    Vidisha
699      77.50     24.25    Vidisha
700      77.75     24.25    Vidisha

[701 rows x 3 columns]

In [ ]:
df3 = pd.read_csv('/content/district_centroid.csv')
df3

        DISTRICT  Longitude   Latitude
0           Agra  78.079498  27.037701
1      Ahmedabad  72.195999  22.709999
2        Aligarh  78.079300  27.926901
3      Alirajpur  74.364502  22.313801
4      Allahabad  81.971703  25.298901
..           ...        ...        ...
222  Yamunanagar  77.305000  30.236401
223         Jind  76.300903  29.435400
224        Arwal  84.690399  25.161600
225    Jehanabad  85.030098  25.156601
226         Tapi  73.631203  21.191601

[227 rows x 3 columns]

In [ ]:

# Filter df3 to keep only the rows with DISTRICT values present in df1
filtered_df3 = df3[df3['DISTRICT'].isin(df1['DISTRICT'].unique())]

# Display the updated dataframe or save it if needed
#print(filtered_df3.shape)
# Save the filtered dataframe if needed
filtered_df3.to_csv('/content/filtered_district_centroid_701.csv', index=False)
filtered_df3

                DISTRICT  Longitude   Latitude
0                   Agra  78.079498  27.037701
1              Ahmedabad  72.195999  22.709999
2                Aligarh  78.079300  27.926901
4              Allahabad  81.971703  25.298901
5                 Ambala  76.942200  30.328501
..                   ...        ...        ...
218               Valsad  73.114700  20.418501
219             Varanasi  82.917603  25.388100
220              Vidisha  77.813400  23.892700
221  Khargone/West Nimar  75.774498  21.920500
223                 Jind  76.300903  29.435400

[128 rows x 3 columns]

In [ ]:
unique_districts_df3 = filtered_df3['DISTRICT'].nunique()
print(f"Unique values in filtered_df3['DISTRICT']: {unique_districts_df3}")

Unique values in filtered_df3['DISTRICT']: 128

In [ ]:
import pandas as pd
from geopy.distance import great_circle

# Read the CSV files
df_all_grids = pd.read_csv('/content/lon_lat_with_districts_701.csv')
df_yield = pd.read_csv('/content/filtered_district_centroid_701.csv')

# Function to find the 10 nearest points for each district
def find_nearest_points(district, centroid_lon, centroid_lat, df_all_grids, num_points=10):
    distances = []
    origin = (centroid_lat, centroid_lon)

    # Calculate distance from the centroid to all points in df_all_grids
    for _, row in df_all_grids.iterrows():
        point = (row['Latitude'], row['Longitude'])
        distance = great_circle(origin, point).kilometers
        if distance > 0:  # Skip zero distance
            distances.append((distance, row['Longitude'], row['Latitude'], row['DISTRICT']))

    # Sort by distance and select the nearest points
    distances.sort(key=lambda x: x[0])
    nearest_points = distances[:num_points]

    # Prepare results
    results = []
    for dist, lon, lat, nearest_district in nearest_points:
        results.append({
            'District': district,
            'Centroid Longitude': centroid_lon,
            'Centroid Latitude': centroid_lat,
            'Nearest District': nearest_district,
            'Nearest Longitude': lon,
            'Nearest Latitude': lat,
            'Distance (km)': dist
        })

    return results

# Create a DataFrame to store the results
results = []

# Iterate through each district in df_yield
for _, row in df_yield.iterrows():
    district = row['DISTRICT']
    centroid_lon = row['Longitude']
    centroid_lat = row['Latitude']

    # Find the 10 nearest points for the current district
    nearest_points = find_nearest_points(district, centroid_lon, centroid_lat, df_all_grids, num_points=10)

    # Append to results
    results.extend(nearest_points)

# Create a DataFrame from the results
df_results = pd.DataFrame(results)

# Display the results
print(df_results.head())

# Save the results to a CSV file
df_results.to_csv('/content/nearest_points_for_each_district_from_centroid_6s_701.csv', index=False)

  District  Centroid Longitude  Centroid Latitude Nearest District  \
0     Agra           78.079498          27.037701             Agra
1     Agra           78.079498          27.037701             Agra
2     Agra           78.079498          27.037701           Morena
3     Agra           78.079498          27.037701          Mathura
4     Agra           78.079498          27.037701           Morena

   Nearest Longitude  Nearest Latitude  Distance (km)
0              78.00             27.00       8.921315
1              78.25             27.00      17.402196
2              78.25             26.75      36.184431
3              77.75             27.25      40.252325
4              78.50             26.75      52.558134

In [ ]:
df_results.shape

(1280, 7)

In [ ]:
import pandas as pd

# Read the CSV files into DataFrames
df_avg = pd.read_csv('/content/nearest_points_for_each_district_from_centroid_6s_701.csv')
df_combine = pd.read_csv('/content/lon_lat_14years_combine_701grids.csv')

In [ ]:
df_avg

,District,Centroid Longitude,Centroid Latitude,Nearest District,Nearest Longitude,Nearest Latitude,Distance (km)
0,Agra,78.079498,27.037701,Agra,78.00,27.00,8.921315
1,Agra,78.079498,27.037701,Agra,78.25,27.00,17.402196
2,Agra,78.079498,27.037701,Morena,78.25,26.75,36.184431
3,Agra,78.079498,27.037701,Mathura,77.75,27.25,40.252325
4,Agra,78.079498,27.037701,Morena,78.50,26.75,52.558134
...,...,...,...,...,...,...,...
1275,Jind,76.300903,29.435400,Hissar,76.00,29.25,35.716584
1276,Jind,76.300903,29.435400,Karnal,76.75,29.50,44.066480
1277,Jind,76.300903,29.435400,Sangrur,76.00,29.75,45.499717
1278,Jind,76.300903,29.435400,Rohtak,76.25,29.00,48.665719
1279,Jind,76.300903,29.435400,Rohtak,76.50,29.00,52.127546

In [ ]:
df_combine

,Lon,Lat,pcp1,pcp2,pcp3,pcp4,pcp5,pcp6,pcp7,PET1,...,sti5,sti6,sti7,heatstress1,heatstress2,heatstress3,heatstress4,heatstress5,heatstress6,heatstress7
0,78.00,27.00,0.000000,0.000000,6.811496,15.880300,0.000000,0.000000,11.283052,143.68379,...,0.208015,2.263535,1.638677,31,17,2,0,11,31,30
1,78.00,27.00,11.770949,0.000000,0.000000,4.034699,5.378755,15.466345,0.000000,127.29191,...,0.100109,0.898637,-0.801175,31,27,0,0,3,29,30
2,78.00,27.00,0.000000,0.000000,1.004056,0.000000,0.000000,9.643133,0.000000,147.86153,...,3.488287,0.228896,0.661625,31,23,0,3,23,28,30
3,78.00,27.00,2.544899,0.000000,0.000000,1.252567,63.490313,27.840679,0.000000,145.00365,...,0.498179,-0.719909,1.179717,31,23,2,2,3,19,30
4,78.00,27.00,0.250133,0.000000,0.000000,3.072465,0.000000,0.000000,7.522014,157.31240,...,-0.887439,1.813704,0.509964,31,25,0,0,6,31,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9809,77.75,24.25,0.000000,0.000000,0.000000,0.000000,47.844024,8.742019,0.000000,147.16646,...,-0.329762,-0.057224,-0.565286,31,17,0,0,2,29,30
9810,77.75,24.25,45.474427,0.000000,4.192894,35.675925,64.200256,7.722482,0.000000,132.83577,...,-1.339355,-0.945207,-0.935383,27,7,0,0,0,22,30
9811,77.75,24.25,1.863229,0.000000,39.490202,45.882363,6.845441,51.495013,14.828591,140.87993,...,0.982870,-0.798780,-1.242813,30,28,1,0,10,20,30
9812,77.75,24.25,17.597885,3.633297,0.000000,10.762516,0.596575,6.594429,0.000000,146.14082,...,1.360173,1.364600,2.154642,28,29,1,0,16,30,30
9813,77.75,24.25,50.198035,0.000000,0.000000,0.884673,1.771767,1.493294,0.000000,144.13615,...,0.832633,0.234456,1.310613,31,28,0,0,10,27,30

In [ ]:

# Merge using 'left' join to keep all rows from df_avg
df_merged = pd.merge(df_avg, df_combine, left_on=['Nearest Longitude', 'Nearest Latitude'], right_on=['Lon', 'Lat'], how='left')
df_merged.dropna(inplace = True)
# Save the resulting DataFrame to a new CSV file
df_merged.to_csv('/content/new_dataset6_merged_rf_tmin_tmax_dist_centroid_701.csv', index=False)

In [ ]:
df_merged.duplicated().sum()

0

In [ ]:
df_merged['District'].nunique()

128

In [ ]:
df_merged = df_merged.drop_duplicates()

In [ ]:
df_merged

,District,Centroid Longitude,Centroid Latitude,Nearest District,Nearest Longitude,Nearest Latitude,Distance (km),Lon,Lat,pcp1,...,sti5,sti6,sti7,heatstress1,heatstress2,heatstress3,heatstress4,heatstress5,heatstress6,heatstress7
0,Agra,78.079498,27.037701,Agra,78.0,27.0,8.921315,78.0,27.0,0.000000,...,0.208015,2.263535,1.638677,31,17,2,0,11,31,30
1,Agra,78.079498,27.037701,Agra,78.0,27.0,8.921315,78.0,27.0,11.770949,...,0.100109,0.898637,-0.801175,31,27,0,0,3,29,30
2,Agra,78.079498,27.037701,Agra,78.0,27.0,8.921315,78.0,27.0,0.000000,...,3.488287,0.228896,0.661625,31,23,0,3,23,28,30
3,Agra,78.079498,27.037701,Agra,78.0,27.0,8.921315,78.0,27.0,2.544899,...,0.498179,-0.719909,1.179717,31,23,2,2,3,19,30
4,Agra,78.079498,27.037701,Agra,78.0,27.0,8.921315,78.0,27.0,0.250133,...,-0.887439,1.813704,0.509964,31,25,0,0,6,31,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17915,Jind,76.300903,29.435400,Rohtak,76.5,29.0,52.127546,76.5,29.0,0.000000,...,0.042531,0.182189,-0.549232,31,29,14,4,17,31,30
17916,Jind,76.300903,29.435400,Rohtak,76.5,29.0,52.127546,76.5,29.0,44.555326,...,-0.393140,-0.631676,0.015714,31,27,6,0,14,29,30
17917,Jind,76.300903,29.435400,Rohtak,76.5,29.0,52.127546,76.5,29.0,3.730303,...,0.837290,-0.888727,-0.610919,31,30,10,0,19,24,30
17918,Jind,76.300903,29.435400,Rohtak,76.5,29.0,52.127546,76.5,29.0,3.860568,...,0.824485,1.189676,0.698921,31,28,14,15,23,31,30
17919,Jind,76.300903,29.435400,Rohtak,76.5,29.0,52.127546,76.5,29.0,1.168285,...,0.872118,0.208547,0.436083,31,30,23,7,21,30,30

In [ ]:
df_merged.drop(['Distance (km)','Nearest Longitude','Nearest Latitude'], axis = 1, inplace = True)

In [ ]:
df_merged

,District,Centroid Longitude,Centroid Latitude,Nearest District,Lon,Lat,pcp1,pcp2,pcp3,pcp4,...,sti5,sti6,sti7,heatstress1,heatstress2,heatstress3,heatstress4,heatstress5,heatstress6,heatstress7
0,Agra,78.079498,27.037701,Agra,78.0,27.0,0.000000,0.000000,6.811496,15.880300,...,0.208015,2.263535,1.638677,31,17,2,0,11,31,30
1,Agra,78.079498,27.037701,Agra,78.0,27.0,11.770949,0.000000,0.000000,4.034699,...,0.100109,0.898637,-0.801175,31,27,0,0,3,29,30
2,Agra,78.079498,27.037701,Agra,78.0,27.0,0.000000,0.000000,1.004056,0.000000,...,3.488287,0.228896,0.661625,31,23,0,3,23,28,30
3,Agra,78.079498,27.037701,Agra,78.0,27.0,2.544899,0.000000,0.000000,1.252567,...,0.498179,-0.719909,1.179717,31,23,2,2,3,19,30
4,Agra,78.079498,27.037701,Agra,78.0,27.0,0.250133,0.000000,0.000000,3.072465,...,-0.887439,1.813704,0.509964,31,25,0,0,6,31,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17915,Jind,76.300903,29.435400,Rohtak,76.5,29.0,0.000000,0.763438,3.278976,32.208805,...,0.042531,0.182189,-0.549232,31,29,14,4,17,31,30
17916,Jind,76.300903,29.435400,Rohtak,76.5,29.0,44.555326,0.000000,3.329798,8.374383,...,-0.393140,-0.631676,0.015714,31,27,6,0,14,29,30
17917,Jind,76.300903,29.435400,Rohtak,76.5,29.0,3.730303,0.000000,9.641596,6.600102,...,0.837290,-0.888727,-0.610919,31,30,10,0,19,24,30
17918,Jind,76.300903,29.435400,Rohtak,76.5,29.0,3.860568,0.243437,0.000000,0.000000,...,0.824485,1.189676,0.698921,31,28,14,15,23,31,30
17919,Jind,76.300903,29.435400,Rohtak,76.5,29.0,1.168285,0.000000,0.000000,33.467455,...,0.872118,0.208547,0.436083,31,30,23,7,21,30,30

In [ ]:
# Save the rearranged DataFrame to a CSV file
df_merged.to_csv('merged_dataset6_merged_rf_tmin_tmax_dist_centroid_701.csv', index=False)

In [ ]:
contains_value = (df_merged.iloc[:, 4] == 75.25).any()
if contains_value:
    print("Column 0 contains the value 75.25.")
else:
    print("Column 0 does not contain the value 75.25.")

Column 0 contains the value 75.25.

In [ ]:
# Load the dataset
df = pd.read_csv('merged_dataset6_merged_rf_tmin_tmax_dist_centroid_701.csv')
# Number of rows per chunk
chunk_size = 14
# Total chunks to stack horizontally
num_chunks = 10

# Initialize list to hold reshaped rows
reshaped_data = []

for i in range(0, len(df), chunk_size * num_chunks):
    # Extract chunks and concatenate horizontally
    chunks = [df.iloc[i + chunk_size * j : i + chunk_size * (j + 1)].reset_index(drop=True) for j in range(num_chunks)]

    # Concatenate each set of 52 rows horizontally
    combined_chunk = pd.concat(chunks, axis=1)
    reshaped_data.append(combined_chunk)

# Concatenate all the reshaped rows vertically
reshaped_df = pd.concat(reshaped_data, axis=0).reset_index(drop=True)

# Save the reshaped DataFrame
reshaped_df.to_csv('reshaped_dataset_7M_701grids.csv', index=False)

# Display the shape of the new DataFrame
print("Reshaped DataFrame shape:", reshaped_df.shape)

Reshaped DataFrame shape: (1792, 1110)

In [ ]:
contains_value = (reshaped_df.iloc[:, 4] == 75.25).any()
if contains_value:
    print("Column 0 contains the value 75.25.")
else:
    print("Column 0 does not contain the value 75.25.")

Column 0 does not contain the value 75.25.

In [ ]:
reshaped_df

,District,Centroid Longitude,Centroid Latitude,Nearest District,Lon,Lat,pcp1,pcp2,pcp3,pcp4,...,sti5,sti6,sti7,heatstress1,heatstress2,heatstress3,heatstress4,heatstress5,heatstress6,heatstress7
0,Agra,78.079498,27.037701,Agra,78.00,27.0,0.000000,0.000000,6.811496,15.880300,...,0.340962,1.855289,1.009084,31,28,13,5,17,31,30
1,Agra,78.079498,27.037701,Agra,78.00,27.0,11.770949,0.000000,0.000000,4.034699,...,-0.741703,0.216368,-1.079926,31,30,19,0,11,31,30
2,Agra,78.079498,27.037701,Agra,78.00,27.0,0.000000,0.000000,1.004056,0.000000,...,2.520881,-0.675415,-0.436345,31,28,4,8,28,29,30
3,Agra,78.079498,27.037701,Agra,78.00,27.0,2.544899,0.000000,0.000000,1.252567,...,1.199242,-0.191901,1.086058,31,24,6,7,19,29,30
4,Agra,78.079498,27.037701,Agra,78.00,27.0,0.250133,0.000000,0.000000,3.072465,...,-1.651320,1.105833,-0.464904,31,30,4,3,15,31,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,Jind,76.300903,29.435400,Jind,76.25,29.5,0.000000,2.544234,10.796770,35.492590,...,0.042531,0.182189,-0.549232,31,29,14,4,17,31,30
1788,Jind,76.300903,29.435400,Jind,76.25,29.5,2.639765,0.502935,0.170964,30.102606,...,-0.393140,-0.631676,0.015714,31,27,6,0,14,29,30
1789,Jind,76.300903,29.435400,Jind,76.25,29.5,2.843782,0.000000,2.345648,2.952852,...,0.837290,-0.888727,-0.610919,31,30,10,0,19,24,30
1790,Jind,76.300903,29.435400,Jind,76.25,29.5,7.410794,9.654035,0.000000,0.000000,...,0.824485,1.189676,0.698921,31,28,14,15,23,31,30
1791,Jind,76.300903,29.435400,Jind,76.25,29.5,0.608520,0.000000,0.000000,51.754647,...,0.872118,0.208547,0.436083,31,30,23,7,21,30,30



```  Delete repeated col manually ```

In [ ]:
reshaped_df = pd.read_csv('/content/reshaped_dataset_7M_701grids.csv')
reshaped_df

,District,Centroid Longitude,Centroid Latitude,pcp1,pcp2,pcp3,pcp4,pcp5,pcp6,pcp7,...,sti5.9,sti6.9,sti7.9,heatstress1.9,heatstress2.9,heatstress3.9,heatstress4.9,heatstress5.9,heatstress6.9,heatstress7.9
0,Agra,78.079498,27.037701,0.000000,0.000000,6.811496,15.880300,0.000000,0.000000,11.283052,...,0.340962,1.855289,1.009084,31,28,13,5,17,31,30
1,Agra,78.079498,27.037701,11.770949,0.000000,0.000000,4.034699,5.378755,15.466345,0.000000,...,-0.741703,0.216368,-1.079926,31,30,19,0,11,31,30
2,Agra,78.079498,27.037701,0.000000,0.000000,1.004056,0.000000,0.000000,9.643133,0.000000,...,2.520881,-0.675415,-0.436345,31,28,4,8,28,29,30
3,Agra,78.079498,27.037701,2.544899,0.000000,0.000000,1.252567,63.490313,27.840679,0.000000,...,1.199242,-0.191901,1.086058,31,24,6,7,19,29,30
4,Agra,78.079498,27.037701,0.250133,0.000000,0.000000,3.072465,0.000000,0.000000,7.522014,...,-1.651320,1.105833,-0.464904,31,30,4,3,15,31,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,Jind,76.300903,29.435400,0.000000,2.544234,10.796770,35.492590,98.838296,9.536821,8.517586,...,0.042531,0.182189,-0.549232,31,29,14,4,17,31,30
1788,Jind,76.300903,29.435400,2.639765,0.502935,0.170964,30.102606,17.743412,28.904688,0.899642,...,-0.393140,-0.631676,0.015714,31,27,6,0,14,29,30
1789,Jind,76.300903,29.435400,2.843782,0.000000,2.345648,2.952852,8.562070,66.026082,46.341082,...,0.837290,-0.888727,-0.610919,31,30,10,0,19,24,30
1790,Jind,76.300903,29.435400,7.410794,9.654035,0.000000,0.000000,4.399251,22.252002,0.000000,...,0.824485,1.189676,0.698921,31,28,14,15,23,31,30
1791,Jind,76.300903,29.435400,0.608520,0.000000,0.000000,51.754647,0.220493,11.032554,1.447208,...,0.872118,0.208547,0.436083,31,30,23,7,21,30,30

In [ ]:
reshaped_df['District'].nunique()

128

## Adding year col

In [ ]:
# Define the year range
years = list(range(2004, 2018))  # Creates a list of years from 2004 to 2017

# Calculate the number of repetitions needed
num_repeats = len(reshaped_df) // len(years)

# Create the full list of years by repeating
year_column = years * num_repeats

# Check if the length matches, and if necessary, slice it to match exactly
year_column = year_column[:len(reshaped_df)]

# Add the Year column to the DataFrame
reshaped_df['Year'] = year_column

# Save the updated DataFrame
reshaped_df.to_csv('/content/reshaped_dataset_7M_701grids_with year.csv', index=False)

# Display the first few rows to verify
print(reshaped_df.head())
print("Shape with Year column:", reshaped_df.shape)

  District  Centroid Longitude  Centroid Latitude       pcp1  pcp2      pcp3  \
0     Agra           78.079498          27.037701   0.000000   0.0  6.811496
1     Agra           78.079498          27.037701  11.770949   0.0  0.000000
2     Agra           78.079498          27.037701   0.000000   0.0  1.004056
3     Agra           78.079498          27.037701   2.544899   0.0  0.000000
4     Agra           78.079498          27.037701   0.250133   0.0  0.000000

        pcp4       pcp5       pcp6       pcp7  ...    sti6.9    sti7.9  \
0  15.880300   0.000000   0.000000  11.283052  ...  1.855289  1.009084
1   4.034699   5.378755  15.466345   0.000000  ...  0.216368 -1.079926
2   0.000000   0.000000   9.643133   0.000000  ... -0.675415 -0.436345
3   1.252567  63.490313  27.840679   0.000000  ... -0.191901  1.086058
4   3.072465   0.000000   0.000000   7.522014  ...  1.105833 -0.464904

   heatstress1.9  heatstress2.9  heatstress3.9  heatstress4.9  heatstress5.9  \
0             31             28             13              5             17
1             31             30             19              0             11
2             31             28              4              8             28
3             31             24              6              7             19
4             31             30              4              3             15

   heatstress6.9  heatstress7.9  Year
0             31             30  2004
1             31             30  2005
2             29             30  2006
3             29             30  2007
4             31             30  2008

[5 rows x 1054 columns]
Shape with Year column: (1792, 1054)

##Add yield col manually

# Detrending yield

In [ ]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('/content/reshaped_dataset_7M_701grids_with year.csv')

# Create an empty DataFrame to store the detrended yields and trends
detrended_df = pd.DataFrame()

# Function to calculate Sen's slope, detrend, and save the trend
def detrend_sens_slope(df):
    x = np.arange(len(df))  # Time variable (0, 1, 2, ..., 51 for 52 years)
    y = df['Yield'].values

    # Calculate the Sen's slope
    slopes = []
    for i in range(len(y)):
        for j in range(i + 1, len(y)):
            slopes.append((y[j] - y[i]) / (x[j] - x[i]))
    slope = np.median(slopes)

    # Calculate the trend (slope * time)
    df['Trend'] = slope * x

    # Detrend the yield data by subtracting the trend from the original yield
    df['Detrended_Yield'] = df['Yield'] - df['Trend']

    return df

# Apply detrending and trend calculation for each district
for district in df['District'].unique():
    df_district = df[df['District'] == district].copy()
    df_district = detrend_sens_slope(df_district)
    detrended_df = pd.concat([detrended_df, df_district], ignore_index=True)

# Save the updated DataFrame with the detrended yield and trend
detrended_df.to_csv('/content/detrended_district_yearly_yield_6s_1999_128g.csv', index=False)

# Display the first few rows of the updated DataFrame
print(detrended_df.head())